@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";
.woocommerce-page {
  .wpb_revslider_element.wpb_content_element {
    height: 385px;
    @media(max-width:@screen-sm-min) {
      display: none!important;
    }
  }
}
#rev_slider_19_1 {
  height: 371px!important;
  * {
    font-family: 'Bodoniz',serif!important;
  }
  .tparrows {
    visibility: visible!important;
  }
  .tp-parallax-wrap {

    // TíTULO
    &:nth-child(2) {
      .tp-caption.Fashion-BigDisplay {
        text-transform: lowercase!important;
        font-size: 26px!important;
        letter-spacing: -1px!important;
        margin-top: -10px !important;
        // position: fixed;
      }
    }
    &:nth-child(3) {
      .tp-caption.Fashion-BigDisplay {
        // text-transform: uppercase!important;
        // position: fixed;
        // top:150px !important;
        &:after {
          width: 34px;
          height: 2px;
          background-color: white;
          margin-left: -15px;
          .opacity(.5);
          content: "";
          position: absolute;
          left: 50%;
          bottom: -24px;
          @media(max-width:@screen-sm-max) {
            display: none!important;
          }
        }
      }
    }
  }
}
.single-product {
  .forcefullwidth_wrapper_tp_banner {
    @media(max-width:@screen-xs-max) {
      display: none!important;
    }
    height: 354px!important;
    position: relative!important;
    overflow: hidden!important;
  }
  .texto_header {
    font-size: 59px!important;
  }
  .texto_header_description p {
    font-size: 16px!important;
  }
}
html {
  @media(max-width:@screen-sm-max) and (min-width:@screen-xs-max) {
    top: 13px!important;
    position: relative;
  }
}

// HOME SLIDER
// SLIDE 1

.home {
  .main-paragraph {
    b {
      text-align: left!important;
    }
    .btns {
      text-align: left;
      margin-top: 30px !important;
      .btn {
        border: 1px solid rgba(255,255,255,.5);
        color: white;
        font-size: 17px!important;

        // text-transform: uppercase;
        padding: 14px 33px;
        font-style: italic;

        // font-family:@fontsans;
      }
    }
  }
  @media(max-width:@screen-sm-max) {
    margin-top: -21px !important;
    .main-paragraph {
      span {
        font-size: 15px!important;
      }
    }
  }
  @media(max-width:@screen-sm-max) {
    margin-top: -1px !important;
    .main-paragraph {
      span {
        font-size: 15px!important;
        display: inherit!important;
      }
    }
  }
  @media(max-width:@screen-xs-max) {
    .main-paragraph {
      span {
        display: none!important;
      }
      b {
        display: none!important;
      }
    }
    .btns {
      .btn {
        display: block!important;
        padding: 22px 20px !important;
        border-width: 2px!important;
        margin: 10px 0 !important;
      }
    }
  }
  @media(max-width:990px) {
    #slide-28-layer-5,#slide-88-layer-5 {
      margin-top:152px!important;
      b {
        font-size:28px!important;
      }
    }
  }
}

// .who-content {
//       max-height: 350px;
//       overflow:hidden;
//       // .transition(all,.35s);
//       .transition(all,.5s);
//       .who-scroll {
//         .transition(all,.5s);
//         position: relative;
//         .transform(translate(0,0));
//       }
//
//       &.continue {
//         .who-scroll {
//            .transform( translate(0,-250px));
//         }
//       }
// }
// .read-more {
//   background-image:url('../../assets/images/leer-mas.png');
//   width: 116px;
//   height: 32px;
//   background-size: 100%;
//   background-repeat: no-repeat;
//   float:right;
//   cursor:pointer;
//       margin-top: 21px!important;
//     &.rotate {
//       height: 10px;
//       .transform(rotate(180deg));
//     }
// }
.tp-caption.epgrafe-bodoni2 {
  font-size: 28px !important;
  bottom: 0!important;
  margin-top: 12px !important;
}
.home {
  background-color: white!important;
  .main-paragraph {
    b {
      font-size: 35px!important;
    }
    .btns {
      @media(min-width:@screen-sm-max) {
        display: none;
      }
    }
  }

  @media(max-width:@screen-xs-max) {
    &.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env {
      padding-top: 0 !important;
      margin-top: -10px !important;
    }
    .main-paragraph .btns {
      margin-top: 128px !important;
    }
    .language {
      .opacity(0);
    }
.toBea.toSlide,.toAtelier.toSlide,.toBoutique.toSlide {
  right:0;
  left:inherit;
  a {
  color: transparent!important;
  i {
  color: black!important;
}
}
}
    li[data-index='rs-47'],li[data-index='rs-59'],li[data-index='rs-57'],li[data-index='rs-84'],li[data-index='rs-85'],li[data-index='rs-86'] {
      h2 {
        margin: 4px 0 10px;
    font-size: 20px;
      }
      .text-content {
            line-height: 1.5;
      }
      .tp-parallax-wrap {
        left: 0!important;
        margin-left: 21px;
      }
      .tp-mask-wrap {
        img {
          display: none;
        }
        overflow: inherit!important;
        .who-content {
          margin-top: -52px !important;
        }
      }
    }
  }
  @media(max-width:1024px) {
    .main-paragraph {
      margin-top: -50px !important;
    }
  }
  .wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    /* top: 0; */
    margin-top: -11px;
  }
}
.language {
  z-index: 1;
  position: fixed;
  top: 30px;
  @media(max-width:@screen-xs-max) {
    top: inherit;
    bottom: 18px;
  }
  right: 30px;
  a {
    color: white;
    .transition(opacity,.2s);
    font-size: 20px;
    margin-right: 5px;
    &.inactive {
      .opacity(.6);
      &:hover {
        .opacity(1);
      }
    }
  }
}
.toSlide {
  position: fixed;
  left: 50%;
  bottom: 15px;
  margin-left: -50px;
  z-index: 1;
  text-align: center;
  .transition(opacity,.3s);
  .opacity(0);
  &:hover {
    .opacity(1);
  }
  a {
    color: white;
    font-size: 18px;
    font-family: 'bodoniz';
  }
  i {
    display: block;
    font-size: 28px;
  }
  &.toBea,
  &.toAtelier,
  &.toBoutique {
    a {
      color: black;
    }
  }
}

// .rev_slider .tp-mask-wrap {
//   display: none;
// }
.single-product {
  .texto_header {
    padding-top: 127px;
    color: white!important;
    .texto_header_description {
      p {
        margin-top: 20px !important;
        &:before {
          width: 40px;
          height: 1px;
          background-color: white;
          position: absolute;
          content: "";
          left: 50%;
          margin-left: -20px;
          opacity: 0.87;
          margin-top: -13px;
        }
        font-size: 22px!important;
      }
    }
  }
  .product_title.entry-title {
    @media(max-width:@screen-xs-max) {
      margin-top: 55px !important;
    }
  }
  @media(max-width:@screen-xs-max) {
    .quantity.buttons_added {
      display: none!important;
    }
    .single_add_to_cart_button.button.alt {
      width: 100%!important;
    }
  }
}
.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse {
  text-align: center;
  .feedback {
    font-family: 'bodoniz',serif;
    font-size: 14px;
    font-style: italic;
  }
  a {
    background: transparent!important;
    color: #dd1f26!important;
    border-bottom: 1px solid;
    margin-top: 10px !important;
  }
}
.product-single .entry-summary .variations_form .single_variation .stock.available-on-backorder {
  color: rgba(0, 0, 0, 0.54)!important;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}


@media(max-width:@screen-sm-max){
  .main-menu-top {
  margin-top: -13px!important;
}
}

.popover {
  border-radius:0!important;
  width: 222px;
// margin-left: -2px!important;
}
.popover-content,.popover-title {
  font-family:'gt',sans-serif;
      padding: 22px;
      line-height: 1.3;
}
.popover-title {
  text-transform: uppercase;
}
