// PRODUCTION
/*@import "globals/bootstrap-variables.less";
@import "globals/variables.less";
@import "globals/mixins.less";
@import "globals/estilos-marc.less";

@import "globals/globals.less";
@import "globals/temporal.less";
@import "ui/topbar.less";
@import "pages/home-slider.less";
*/
// DEVELOPMENT
@import "../less/globals/bootstrap-variables.less";
@import "../less/globals/variables.less";
@import "../less/globals/mixins.less";
@import "../less/globals/estilos-marc.less";

// @import "../less/globals/import-fonts.less";
@import "../css/globals/globals.css";
@import "../css/globals/temporal.css";
@import "../css/ui/typography.css";
@import "../css/ui/topbar.css";

// @import "../less/ui/topbar.less";
@import "../css/globals/patch-marc.css";
@import "../css/pages/home-slider.css";
@import "../css/pages/tienda.css";
@import "../css/pages/producto.css";
@import "../css/pages/contacto.css";
@import "../css/pages/espinela-world.css";
@import "../css/pages/novias.css";
@import "../css/pages/otros.css";
@import "../css/pages/quienes.css";
@import "../css/last/last-fer.css";
p {
  /*font-family:'Bodoniz',serif !important;font-size:17px !important*/
}
.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url(ie/background-size.htc);
}
.invisible {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
@media (min-width:768px) and (max-width:991px) {
  .oxygen-top-menu>.wrapper>.main {
    padding-top: 0 !important;
  }
  .oculto-sm {
    display: none !important;
  }
}
.hover-second-only {
  opacity: 1 !important;
  background-color: black;
  z-index: 0 !important;
}
.divider {
  width: 8% !important;
}
.amount {
  color: black !important;
  font-size: 23px;
  font-weight: 600;
}
.entypo-list-add {
  width: 50px;
  height: 40px;
  margin-left: 40px;
  margin-right: -20px;
  margin-top: -172px;
  background-color: #e64c4e;
  z-index: 99999999999999;
  clear: both;
}
.shop .items .item-wrapper .item .description .add-to-cart-btn {
  color: white !important;
  font-size: 29px !important;
  text-align: center;
}
.wrapper {
  background-color: white !important;
}
.main {
  background-color: white !important;
}
footer .divider {
  width: 100% !important;
}
footer .footer_main .copyright_text {
  color: #333;
  font-size: 92% !important;
  position: initial !important;
  top: 4px !important;
  float: initial !important;
  margin-top: -22px !important;
  margin-left: -182px !important;
  width: 29% !important;
}
.copyfoo {
  width: 51% !important;
  float: right !important;
  clear: both !important;
}
.footer-nav {
  float: right;
  margin-right: 378px;
}
.entypo-list-add:before {
  content: '\e816' !important;
}
.logofoot {
  width: 11%;
  margin-top: -23px;
  float: left;
  margin-left: 14px;
  position: relative;
  z-index: 2;
  @media(max-width:@screen-sm-max){
    display:none;
  }
}
.socialicons {
  float: inherit;
  margin-top: -32px;
  margin-right: 0;
}
.iconuni {
  float: left;
  width: 23%;
}
.iconuni:hover {
  opacity: 0.8;
}
.cat-item-108,
.cat-item-130 {
  background-image: url(http://espinelashop.com/wp-content/uploads/2015/09/especialnovias.jpg);
  height: 213px;
  width: 257px;
}
.cat-item-108 a,
.cat-item-130 a {
  height: 213px;
  width: 257px;
}
.item {
  background-color: black;
  width: 98.4%;
}
.cat-parent a {
  background-image: url(http://espinelashop.com/wp-content/uploads/2015/09/oxygen.jpg);
  background-position: 0 34px;
  background-repeat: no-repeat;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: normal !important;
}
.children li a {
  background-image: none !important;
  font-size: 12px;
  font-weight: normal !important;
  padding-bottom: 0;
}
.children {
  margin-left: 0 !important;
  top: 17px !important;
  margin-bottom: 24px !important;
}
.menu li a {
  margin-top: 10px;
  color: #000 !important;
  font-weight: bold;
}
footer .footer_main .footer-nav ul li:after {
  content: " ." !important;
  margin: 24px 4px 6px;
  color: #000 !important;
  font-weight: bold !important;
  margin-top: -7px !important;
  text-align: center;
  padding-top: 46px;
  font-size: 20px;
  top: -19px;
}
.woocommerce-tabs {
  display: none !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity input[type=button] {
  background-color: #000 !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity input.qty {
  color: #000 !important;
  border: 1px solid #000 !important;
  background: white !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity input.qty:hover {
  color: #000 !important;
  border: black !important;
  border: 1px solid;
  background: white !important;
}
.tablaproduct123 {
  border-bottom: 0 solid #000;
  overflow: hidden;
}
.title123 {
  float: left;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 7px;
  font-weight: bold;
}
.infoprodsing {
  float: right;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 7px;
}
.space123 {
  width: 50px;
}
.spacevert {
  height: 30px;
}
li.feed-item.juicer.image-post.juicer,
.referral {
  display: none !important;
}
.oxygen-top-menu>.wrapper>.main-menu-top {
  margin-bottom: 0;
  background: #f8f8f8;
}
.oxygen-top-menu.page-template-contact-php .wrapper>.main {
  max-width: 100%;
  margin-top: 0;
  padding-top: 0;
}
.texto_header {
  font-size: 90px;
  color: #fff;
  font-family: Bodoniz, serif;
  letter-spacing: 2px;
  font-weight: 900;
  padding-top: 100px;
}
.texto_header_description.p {
  font-size: 14px !important;
  color: #fff !important;
  font-family: Bodoniz, serif;
}
.texto_header_description {
  font-size: 14px !important;
  color: #fff !important;
  font-family: Bodoniz, serif;
}
@media screen and (min-width:1200px) {
  .texto_header {
    font-size: 60px !important;
  }
}
@media screen and (min-width:768px) and (max-width:979px) {
  .texto_header {
    font-size: 40px !important;
  }
}
@media screen and (max-width:767px) {
  .texto_header {
    font-size: 30px !important;
  }
}
@media screen and (max-width:480px) {
  .texto_header {
    font-size: 20px !important;
  }
  footer .divider {
    width: 100% !important;
  }
  footer .footer_main .copyright_text {
    color: #333;
    font-size: 92% !important;
    position: initial !important;
    top: 0 !important;
    float: initial !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 29% !important;
  }
  .copyfoo {
    width: 51% !important;
    float: none !important;
    clear: both !important;
  }
  .footer-nav {
    float: none !important;
    margin-right: 0 !important;
  }
  .logofoot {
    width: 100%;
    margin-top: 0 !important;
    float: none !important;
    margin-left: 0 !important;
  }
  .socialicons {
    float: none;
    margin-top: 0 !important;
    margin-right: 0 !important;
  }
  .iconuni {
    float: left;
    width: 23%;
  }
  .iconuni:hover {
    opacity: 0.8;
  }
  amount {
    font-size: 11px !important;
    font-weight: normal !important;
  }
  .wishlist_table tr td.product-stock-status span.wishlist-in-stock {
    font-size: 10px !important;
  }
  .shop#yith-wcwl-form .shop_table tbody tr td {
    font-size: 8.45px !important;
  }
  .shop#yith-wcwl-form .shop_table tbody tr td {
    text-align: left;
    font-size: 8.45px !important;
    text-transform: uppercase;
  }
  .woocommerce table.wishlist_table tbody td {
    padding: 0 !important;
  }
  .shop#yith-wcwl-form .shop-table-container {
    margin-left: 12px !important;
  }
  .woocommerce table.wishlist_table tbody td {
    padding: 4px !important;
  }
  .shop#yith-wcwl-form .shop_table tbody tr td.product-add-to-cart .button {
    padding: 6px 12px !important;
    font-size: 6.45px !important;
  }
}
@import "../css/last/last-marc.css";
@import "../css/last/last-fer-2.css";
