.n-items {
	display:none;
}

@media(max-width:750px) {
	html::before {
		display:none!important;
	}
	html {
		padding:0!important;
		margin-top: 44px !important;
	}
	.home .btns .btn.goto-campaign {
		display:none!important;
	}
	.shipping_calculator {
		display:none;
	}
	.up.cart-totals-title {
	    display: block;
		margin-top: 22px;
	}
	.update-cart-btn {
		display:none;
	}
	.cart-env .cart-main-buttons .button.checkout-button {
		    display: block;
    width: 100%;
    text-align: center;
	}
}

@media (max-width: 991px) and (min-width:767px) {
	.oxygen-top-menu>.wrapper>.main-menu-top {
		margin-top:-27px!important;
	}
	/* no he iniciado sesión */
	.not-logged {
	    margin-top: 0!important;
	 }
	 /* he iniciado sesión ok */
	.sticky-menu .wrapper .main-menu-top.sticky {
	    margin-top: -12px !important;
	 }
 }

 @media(min-width:991px){
 	.col-md-12.checkout-page-coupon {
	 	padding-left: 40px;
	}
 }

 @media(max-width:991px){
	 .col-md-12.checkout-page-coupon {
	 	padding-left: 28px;
	}

 }

 @media(max-width:640px){
	 .page-id-7 p.backorder_notification, .page-id-2500 p.backorder_notification, .page-id-1570 p.backorder_notification, .page-id-2501 p.backorder_notification {
		background-color:transparent!important;
	}
 }

 @media (max-height: 709px) {
 	.thumbs-quienes {
	 	display:none;
 	}
 }

#wpadminbar {
    display: none!important;
}

.enisa-logo {
	width: 32px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 1px;
}

li#menu-item-1593::after{
	display:inherit !important;
}

li#menu-item-2922::after,li#menu-item-2921::after {
	display:none!important;
}

.logofoot {
	margin-top:-33px!important;
}

.socialicons {
	margin-top:-49px!important;
}

.home span.hidden-xs b {
    display: inline!important;
    font-size: 16px!important;
    font-family: 'gt',sans-serif!important;
}

.welcome-p {
    font-family: 'bodoniz',serif;
    font-style: italic;
    font-size: 17px!important;
    font-weight: bolder!important;
}

#slide-28-layer-5 b, #slide-88-layer-5 b  {
	font-weight:bolder!important;
}

.post-type-archive-product .banner-content * {
	    letter-spacing: normal;
    font-weight: bolder;
    font-size: 28px;
}



.post-type-archive-product .banner-content .titulo {
	font-weight:normal;
    /*border: 2px solid rgba(255,255,255,.5);*/
		border:none;
    display: inline-block;
    /*margin-top: 34px;*/
		margin-top:3px;
    padding: 9px 42px;
    font-size: 21px;
    text-transform: uppercase;
}

.post-type-archive-product .banner-content .frase {
	font-style: italic;
    margin-top: -23px!important;
    font-size: 23px;
}


.post-type-archive-product .banner-content .separator {
	display:none;
}

.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=text].input-text.qty.text,
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=text].input-text.qty.text {
	background-color:transparent!important;
}

.laborator-woocommerce .product-single .entry-summary .variations_form .variations_button .single_add_to_cart_button {
	    padding: 10px!important;
    margin-top: 12px!important;
}

.shop_attributes td {
		vertical-align: top;
}

.btn-boutique {
	font-size: 16px;
    border: 1px solid rgba(0,0,0,.3);
    padding: 12px;
}

.post-type-archive-product .btn-boutique {
	display:none;
}

.product-single .price .amount {
    font-size: 20px !important;
}

.es-es .english {
	display:none;
}

.en-en .spanish {
	display:none;
}

.page-id-7 p.backorder_notification, .page-id-2500 p.backorder_notification, .page-id-1570 p.backorder_notification, .page-id-2501 p.backorder_notification {
    background-color: #EEEEEE;
    font-size: 12px !important;
    margin-top: 8px;
    font-family:'bodoniz', serif;
}

span.amount {
    font-size: 19px;
}

.cart-env .cart-main-buttons .button i.entypo-basket {
	display:none;
}

.laborator-woocommerce .checkout_coupon {
	padding:20px 6px;
	border-top:none;
}

.woocommerce-remove-coupon {
	margin-left:5px;
}

.laborator-woocommerce .white-block table.shop_table th {
	font-size:15px;
}

.page-id-7 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child td, .page-id-1570 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child td, .page-id-7 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child th, .page-id-1570 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child th,.page-id-2500 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child td, .page-id-2501 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child td, .page-id-2500 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child th, .page-id-2501 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child th {
	    font-size: 16px !important;
}

.payment_method_stripe label {
    width: 91%;
    vertical-align: top!important;
    margin-top: 11px;
}

#payment_method_stripe .tarjetas {
	display:block;
}

.page-id-1570 .checkout-block-padd, .page-id-2501 .checkout-block-padd {
    margin-top: 0px !important;
    padding: 0px 0 0 !important;
}
.page-id-1570 .wrapper, .page-id-2501 .wrapper {
	padding-top: 115px;
}

.woocommerce-order-received .wrapper {
	padding-top:0;
}

.woocommerce-order-received .woocommerce-success {
    margin-top: 0px!important;
}

.woocommerce-order-received .product-name,.woocommerce-order-received .product-total {
	border-top:none!important;
}

.woocommerce-order-received .cart_totals .shop_table .product-quantity,.woocommerce-order-received .cart_totals .shop_table .variation dd p {
    color: black;
    font-family: 'bodoniz',serif;
    font-weight: normal;
}

.woocommerce-order-received small.shipped_via {
    display: none;
}

.woocommerce-order-received td {
    font-family: 'bodoniz',serif!important;
        font-size: 15px!important;
    color: black!important;
}

.woocommerce-order-received .address-text {
	    font-family: 'bodoniz', serif;
    font-size: 16px;
}

.laborator-woocommerce .white-block table.shop_table thead {
    border-bottom: 1px solid rgba(173, 173, 173, 0.23);
}

.white-block.block-padd.first-row {
	display:none;
}

.transferencia .white-block.block-padd.first-row {
	display:inherit;
	padding:0;
}

.transferencia .white-block.block-padd.first-row p {
	    line-height: 1.3!important;
}


.transferencia .white-block.block-padd.first-row h3 {
	display:none;
}

.laborator-woocommerce .transferencia .checkout-finish  .order_details.bacs_details{
	    width: 100%;
    padding: 0 33px!important;

    text-align: left;
}

.transferencia .order_details.bacs_details li {
    background-color: transparent!important;
    text-align: left;
    padding-left: 0!important;
}

.transferencia .order_details.bacs_details li strong {
    font-family:'bodoniz',serif;
    border-bottom:0px!important;
}

.laborator-woocommerce .checkout-finish .first-row>p {
    background-color: #F5F5F5!important;
}

.order_details.header {
	margin-top:60px!important;
}

.transferencia .order_details.header {
	margin-top:0!important;
}

#stripe-cc-form input {
    padding: 10px;
    width: 100%;
}

.popover-title {
	    background-color: black;
    border-radius: 0;
    box-shadow: none;
    color: white;
    font-family: 'bodoniz',serif;
    line-height: 1.5;
    text-align:center;
}
.popover-content {
	    font-family: 'bodoniz',sans-serif;
    padding: 22px;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
}
.popover {
	padding:0;
	border:none;
}

.popover .arrow:after {
	border-bottom-color:black!important;
}

.ff-slideshow nav span.ff-nav-close,.ff-slideshow nav span {
	color:white;
}

.postid-2216 .post_details h1,.postid-2216 .post_details h2,.postid-2216 .post_details hr,.postid-2855 .post_details h1,.postid-2855 .post_details h2,.postid-2855 .post_details hr {
	display:none;
}

.postid-2216 .nivo,.postid-2855 .nivo{
    background: none!important;
    height: 53px!important;
}

.ff-slideshow .ff-nav-close,.ff-slideshow .ff-nav-prev,.ff-slideshow .ff-nav-next {
	color:white!important;
}

.shop .items .item-wrapper .item .description .divider {
	margin-bottom: 11px!important;
    height: 13px!important;
}

.product-single .price .amount {
    font-size: 17px !important;
    color: #7D7D7D!important;
    font-weight: 300;
}

.variations td.label {
	padding-left:0;
}

.h-sm span {
	font-size: 26px!important;
	padding-right: 19px!important;
}

.volume {
  margin-right: 19px!important;
	display: none;
	opacity:.5;
}
@media(max-width:991px){
	.volume {
		display: none!important;
	}
}
.volume.volume-on {
	opacity:1;
}
.volume:focus {
	text-decoration: none!important;
}
.volume .fa-volume-up {
  display: none;
}
.volume .fa-volume-off {
  display: inherit;
}

.volume.volume-on .fa-volume-off {
  display: none;
}
.volume.volume-on .fa-volume-up {
  display: inherit;
}

@media (max-width: 990px) {
	.home #slide-28-layer-5 .hidden-xs b, .home #slide-88-layer-5 .hidden-xs b {
	    font-size: 18px !important;
	}
}

.shop_sidebar .sidebar ul.product-categories li {
	margin: 5px 0;
    padding: 0;
    border-bottom: 0;
}

.post-type-archive-product .banner-content .frase, .post-type-archive-product .banner-content .frase p span {
    font-style: italic;
    margin-top: -23px!important;
    font-size: 21px!important;
}

.postid-2978 .wpb_wrapper .forcefullwidth_wrapper_tp_banner,.postid-2984 .wpb_wrapper .forcefullwidth_wrapper_tp_banner {
    max-height: 57px!important;
}
