@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";
.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url(ie/background-size.htc);
}
.invisible {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
@media (min-width:768px) and (max-width:991px) {
  .oculto-sm {
    display: none !important;
  }
}
li.feed-item.juicer.image-post.juicer,
.referral {
  display: none !important;
}
.ff-stream.ff-layout-grid {
  background-color: transparent !important;
  padding: 0;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container {
  margin-top: 0;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-no-image .ff-item-cont {
  padding-top: 50px !important;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-item-cont {
  padding: 20px 0 0;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-item-cont h4 {
  display: none;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-item-cont h4+.ff-content {
  margin: 0;
  padding: 10px 0 0;
  border-top: none;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-name,
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-nickname {
  display: none;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-item-meta {
  text-align: left;
  padding: 10px 0 !important;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .picture-item__inner:hover:before {
  background-color: white;
}
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-facebook a,
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-theme-classic.ff-style-2 .ff-facebook .ff-icon:after,
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-theme-classic.ff-style-5 .ff-facebook .ff-icon:after,
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-twitter a,
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-theme-classic.ff-style-2 .ff-twitter .ff-icon:after,
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-theme-classic.ff-style-5 .ff-twitter .ff-icon:after,
.ff-stream.ff-layout-grid .ff-stream-wrapper.ff-theme-flat.shuffle--container .ff-timestamp {
  color: #c54d4f;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}
.ff-slide-wrapper {
  margin-top: 0;
}
.ff-slide-wrapper .ff-no-image .ff-item-cont {
  padding-top: 50px !important;
}
.ff-slide-wrapper .ff-item-cont {
  padding: 20px 0 0;
}
.ff-slide-wrapper .ff-item-cont h4 {
  display: none;
}
.ff-slide-wrapper .ff-item-cont h4+.ff-content {
  margin: 0;
  padding: 10px 0 0;
  border-top: none;
}
.ff-slide-wrapper .ff-name,
.ff-slide-wrapper .ff-nickname {
  display: none;
}
.ff-slide-wrapper .ff-item-meta {
  text-align: left;
  padding: 10px 0 !important;
}
.ff-slide-wrapper .picture-item__inner:hover:before {
  background-color: white;
}
.ff-slide-wrapper .ff-facebook a,
.ff-slide-wrapper .ff-theme-classic.ff-style-2 .ff-facebook .ff-icon:after,
.ff-slide-wrapper .ff-theme-classic.ff-style-5 .ff-facebook .ff-icon:after,
.ff-slide-wrapper .ff-twitter a,
.ff-slide-wrapper .ff-theme-classic.ff-style-2 .ff-twitter .ff-icon:after,
.ff-slide-wrapper .ff-theme-classic.ff-style-5 .ff-twitter .ff-icon:after,
.ff-slide-wrapper .ff-timestamp {
  color: #c54d4f;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}
.ff-wordpress .ff-icon:before,
.ff-posts .ff-icon:before,
.ff-comments .ff-icon:before {
  border-right-color: black !important;
}
.ff-wordpress .ff-icon-inner,
.ff-posts .ff-icon-inner,
.ff-comments .ff-icon-inner {
  background-color: black !important;
}
.ff-wordpress .ff-icon-inner:after,
.ff-posts .ff-icon-inner:after,
.ff-comments .ff-icon-inner:after,
.ff-wordpress .ff-icon-inner:after,
.ff-posts .ff-icon-inner:after,
.ff-comments .ff-icon-inner:after,
.ff-wordpress .ff-icon-inner:after,
.ff-posts .ff-icon-inner:after,
.ff-comments .ff-icon-inner:after,
.ff-wordpress .ff-type-wordpress:after,
.ff-posts .ff-type-wordpress:after,
.ff-comments .ff-type-wordpress:after,
.ff-wordpress .ff-type-posts:after,
.ff-posts .ff-type-posts:after,
.ff-comments .ff-type-posts:after,
.ff-wordpress .ff-type-comments:after,
.ff-posts .ff-type-comments:after,
.ff-comments .ff-type-comments:after {
  font-family: 'gt', sans-serif !important;
  font-size: 14px;
  color: white;
}
.ff-wordpress h4,
.ff-posts h4,
.ff-comments h4 {
  display: inherit !important;
}
.ff-wordpress h4 a,
.ff-posts h4 a,
.ff-comments h4 a {
  font-size: 16px;
  padding-top: 20px;
}
.ff-wordpress .ff-item-cont,
.ff-posts .ff-item-cont,
.ff-comments .ff-item-cont {
  background-color: black;
  padding: 0 22px 6px !important;
  border-bottom: 5px solid #c54d4f;
}
.ff-wordpress .ff-item-cont:before,
.ff-posts .ff-item-cont:before,
.ff-comments .ff-item-cont:before {
  background-color: black !important;
}
.ff-wordpress .ff-item-cont *,
.ff-posts .ff-item-cont *,
.ff-comments .ff-item-cont * {
  color: white !important;
}
.ff-wordpress .ff-item-cont * a,
.ff-posts .ff-item-cont * a,
.ff-comments .ff-item-cont * a {
  color: white !important;
}
.ff-wordpress .ff-item-cont .ff-item-meta span,
.ff-posts .ff-item-cont .ff-item-meta span,
.ff-comments .ff-item-cont .ff-item-meta span,
.ff-wordpress .ff-item-cont .ff-item-meta a,
.ff-posts .ff-item-cont .ff-item-meta a,
.ff-comments .ff-item-cont .ff-item-meta a {
  color: #c54d4f !important;
}
#ff-stream-1 .ff-posts .ff-timestamp {
  color: #c54d4f !important;
  font-style: italic;
  font-weight: bolder;
  top: -3px;
  position: relative;
}
.ff-icon-inner:after {
  margin-top: -15px;
  margin-left: 0;
}
.ff-theme-flat.ff-style-3 .ff-icon-inner {
  border-radius: 0;
  margin: -2px;
  width: 71px;
  height: inherit;
  padding: 22px;
}
.ff-theme-flat.ff-style-3 .ff-icon:before {
  border: transparent !important;
}
.ff-posts .ff-icon-inner:after,
.ff-posts .ff-icon-inner:after,
.ff-posts .ff-icon-inner:after,
.ff-posts .ff-type-wordpress:after,
.ff-posts .ff-type-posts:after,
.ff-posts .ff-type-comments:after {
  content: 'Blog' !important;
  width: 100%;
  text-transform: capitalize;
}
.imaginario.ff-posts .ff-icon-inner:after,
.imaginario.ff-posts .ff-icon-inner:after,
.imaginario.ff-posts .ff-icon-inner:after,
.imaginario.ff-posts .ff-type-wordpress:after,
.imaginario.ff-posts .ff-type-posts:after,
.imaginario.ff-posts .ff-type-comments:after {
  content: 'imaginario' !important;
  width: 100%;
  text-transform: capitalize;
}
.imaginario .ff-icon-inner {
  width: 117px !important;
}
.imaginario .ff-item-cont {
  margin-top: -1px;
}
.imaginario .ff-item-meta {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  height: 26px;
}
.imaginario h4 a {
  font-size: 23px;
  padding-top: 37px;
  padding-bottom: 9px;
}
.celebrities .ff-item-cont {
  margin-top: -1px;
}
.celebrities h4 a {
  font-size: 23px;
  padding-top: 37px;
  padding-bottom: 9px;
}
.celebrities .ff-item-meta {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  height: 26px;
}
.celebrities .ff-icon-inner {
  width: 109px !important;
}
.celebrities.ff-posts .ff-icon-inner:after,
.celebrities.ff-posts .ff-icon-inner:after,
.celebrities.ff-posts .ff-icon-inner:after,
.celebrities.ff-posts .ff-type-wordpress:after,
.celebrities.ff-posts .ff-type-posts:after,
.celebrities.ff-posts .ff-type-comments:after {
  content: 'Celebrities' !important;
  width: 100%;
  text-transform: capitalize;
}
#ff-stream-2 .item-meta,
#ff-stream-3 .item-meta,
#ff-stream-3-slideshow .item-meta,
#ff-stream-2-slideshow .item-meta {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
#ff-stream-2 .ff-header,
#ff-stream-3 .ff-header,
#ff-stream-3-slideshow .ff-header,
#ff-stream-2-slideshow .ff-header {
  display: none;
}
#ff-stream-2 .ff-share-wrapper,
#ff-stream-3 .ff-share-wrapper,
#ff-stream-3-slideshow .ff-share-wrapper,
#ff-stream-2-slideshow .ff-share-wrapper {
  margin-top: 26px;
  position: relative;
  width: 100%;
  margin-bottom: -18px;
  text-align: right;
  bottom: inherit;
}
#ff-stream-2 .picture-item__inner,
#ff-stream-3 .picture-item__inner,
#ff-stream-3-slideshow .picture-item__inner,
#ff-stream-2-slideshow .picture-item__inner {
  padding: 0 !important;
}
#ff-stream-2 .ff-item-cont,
#ff-stream-3 .ff-item-cont,
#ff-stream-3-slideshow .ff-item-cont,
#ff-stream-2-slideshow .ff-item-cont {
  border-bottom: 0 !important;
  padding: 0 !important;
  background-color: white !important;
}
#ff-stream-2 .ff-item-cont .ff-content,
#ff-stream-3 .ff-item-cont .ff-content,
#ff-stream-3-slideshow .ff-item-cont .ff-content,
#ff-stream-2-slideshow .ff-item-cont .ff-content {
  color: black !important;
}
#ff-stream-2 .ff-item-cont h4 a,
#ff-stream-3 .ff-item-cont h4 a,
#ff-stream-3-slideshow .ff-item-cont h4 a,
#ff-stream-2-slideshow .ff-item-cont h4 a {
  color: black !important;
}
#ff-stream-2 .ff-item-meta,
#ff-stream-3 .ff-item-meta,
#ff-stream-3-slideshow .ff-item-meta,
#ff-stream-2-slideshow .ff-item-meta {
  display: none;
}
.blog-post .ff-item-cont,
.blog-post .ff-item-cont::before,
.blog-post .ff-item-cont h4 a {
  background-color: white !important;
  color: black !important;
  border: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ff-posts .ff-item-cont,
.ff-posts .ff-item-cont::before,
.ff-posts .ff-item-cont h4 a {
  background-color: white !important;
  color: black !important;
  border: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ff-slide-wrapper .ff-content {
  font-family: 'Bodoniz', serif;
  font-style: italic;
}
#slide-1794-layer-1,
#slide-2508-layer-1 {
  text-transform: uppercase;
  font-size: 55px!important;
  letter-spacing: normal!Important;
  line-height: 1.05!important;
}
#ff-stream-1 .ff-item {
  padding: 0 8px 10px;
}
.page-id-1794,
.page-id-2508 {
  .slotholder {
    background-color: black!important;
    .tp-bgimg {
      .opacity(.7)!important;
    }
  }
}
#ff-stream-4,
#ff-stream-1 {
  .ff-item {
    padding: 0 10px;
  }
}
