@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";
.tparrows {
  visibility: hidden;
}
.verticalRev > div {
  position: fixed!important;
  width: 100%!important;
  height: 100%!important;
  margin-top: -51px !important;
  margin-bottom: 0 !important;
  z-index: 10!important;
}
.oxygen-top-menu.page-template-slider-home>.wrapper>.main-menu-top>.main .main-menu-env .nav li.current-menu-item>a {
  color: white!important;
}
.oxygen-top-menu.page-template-slider-home .wrapper {
  .tp-thumbs,
  .tp-bullets {
    visibility: hidden;
  }
  @media(max-width:@screen-sm-max) {
    .rs-background-video-layer {
      display: none;
    }
  }
}
.page-template-slider-home {
  .sec-nav {
    display: none!important;
  }
}
.oxygen-top-menu.page-template-slider-home .wrapper {
  .main-menu-top {
    margin-top: -45px !important;
    &.loaded {
      .transition(margin-top,.3s);
      margin-top: 6px !important;
      @media(max-width:@screen-sm-max) {
        margin-top: 44px !important;
      }
      &.first-slide {
        margin-top: -45px !important;
      }
    }
    .logo {
      position: fixed;
      left: 42px;
    }
    #menu-espinela-main,#menu-espinela-main-ingles0 {
      margin-left: 65px;
      display: none;
    }
  }
}
.latMenu {
  position: fixed;
  top: 20%;

  // z-index: 1000000;
  z-index: 900;
  left: 0;
  @media(max-width:@screen-sm-max) {
    display: none;
  }
  ul {
    li {
      list-style-type: none;
      a {
        p {
          .opacity(.7);
          color: white;
          font-family: 'Bodoniz',serif;
          font-size: 20px;
          .transition(all, .35s,ease-out);
          font-style: italic;
          height: 31px;
        }
        &:hover {
          color: white;
          /*					p {
						font-size:22.5px;
					}*/
          p {
            .opacity(1);
          }
        }
      }
      &.active {
        position: relative;
        margin: 21px 0;
        &:before {
          .opacity(1);
          content: "";
          height: 1px;
          width: 144%;
          position: absolute;
          .gradient-horizontal(rgba(255,255,255,.5),rgba(255,255,255,0));
          left: -35px;
          top: 0;
        }
        &:after {
          content: "";
          height: 1px;
          width: 144%;
          position: absolute;
          .gradient-horizontal(rgba(255,255,255,.5),rgba(255,255,255,0));
          left: -35px;
          bottom: 0;
        }
        a {
          p {

            // font-size:40px!important;
            height: 68px;
            font-size: 26px;
            transform-origin: left;
            .opacity(1);
            font-style: italic;
            padding-top: 14px;

            // height: 55px;
          }
          text-decoration: none!important;
        }
      }
    }
  }
}
#slide-28-layer-5,#slide-88-layer-5 {
  font-size: 16px!important;
  line-height: 21px!important;
  b {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'bodoniz',serif;
    line-height: 1;
    display: block;
    text-align: center;
    @media(max-width:@screen-xs-max) {
      font-size: 25px!important;
    }
  }
}
@media(max-width:screen-xs-max) {
  div#slide-47-layer-5 {
    bottom: -19px;
    &:after {
      display: none!important;
    }
  }
}
.tp-caption.epgrafe-bodoni2,
.epgrafe-bodoni2 {
  @media(max-width:@screen-xs-max) {
    font-size: 25px;
  }
}
.tp-caption.articulo {
  font-family: 'gt',sans-serif;
  font-size: 17px!important;
  line-height: 1.3!important;
  b.titl {
    font-size: 20px !important;
    font-weight: normal;
    font-family: 'bodoniz',serif;
    line-height: 1!important;
    display: block;

    // font-style: italic;
    position: relative;
    margin-bottom: 0 !important;
    @media(max-width:@screen-xs-max) {
      font-size: 19px!important;
      padding: 0 20px !important;
      &:after {
        display: none;
      }
    }

    // &:after {
    //     content: "";
    //     width: 40px;
    //     height: 1px;
    //     background-color: white;
    //     position: absolute;
    //     bottom: -17px;
    //     left: 50%;
    //     margin-left: -20px;
    // }
  }
  .btn {
    color: black;
    background-color: white;
    font-size: 18px;
    padding: 12px 29px;
    margin-top: 25px;
  }
}
#rev_slider_12_2 li:first-child {
  .tp-bgimg.defaultimg {
    .opacity(.7)!important;
  }
}
.tparrows {

  // border: 1px solid rgba(255,255,255,.5);
  // background-color: rgba(0,0,0,.3);
  // &.tp-rightarrow {
  // 	margin-left: 220px;
  // }
  //
  @media(max-width:@screen-sm-max) {
    &.tp-leftarrow {
      margin-left: -26%;
    }
    &.tp-rightarrow {
      margin-right: -26%;
    }
  }
  @media(max-width:@screen-xs-max) {
    &.tp-rightarrow {
      left: 82%!important;
      position: absolute;
      margin-left: 0 !important;
      transform: none!important;
      margin-top: -50px;
    }
    &.tp-leftarrow {
      left: 2%!important;
      position: absolute;
      margin-left: 0 !important;
      transform: none!important;
      margin-top: -50px;
    }
  }
}

/*#slide-24-layer-2 {
	width:210px;
	position:relative;
	left:0;
	.transition(all, .25s)!important;
	&:hover {
		left:-20px;
		width:250px;
	}
}*/
.oxygen-top-menu.page-template-slider-home .header-cart {
  padding-top: 93px;

  // z-index: 100000;
}
a.a-slide {
  text-decoration: none!important;
}
// div#slide-47-layer-5::after {
//   height: 2px;
//   width: 30px;
//   background-color: black;
//   content: "";
//   position: absolute;
//   bottom: -10px;
//   left: 0;
//   @media(max-width:@screen-xs-max) {
//     display: none;
//   }
// }
div#slide-47-layer-5 {
  bottom: 12px!important;
}
div#slide-47-layer-6 {
  @media(max-width:@screen-xs-max) {
    font-size: 12px !important;
    line-height: 17px!important;
  }
}
@media(max-width:@screen-sm-max) {
  div#slide-28-layer-3,div#slide-88-layer-3 {
    background-image: url('http://espinelashop.com/wp-content/uploads/2015/11/1150_590_3z.jpg')!important;
    .opacity(.6)!important;
    .background-size(cover);
  }
}
.parrafo-gw,
.parrafo-gw span {
  font-size: 16px!important;
  line-height: 22px!important;
  @media(max-width:@screen-sm-max) {
    font-size: 13px!important;
    line-height: 19px!important;
  }
}
.homeMain {
  margin-top: 18px;
}
@media(max-width:991px) {
  .homeMain {
    margin-top: 0;
  }
  .oxygen-top-menu.page-template-slider-home .wrapper .main-menu-top.loaded {
    margin-top: 16px !important;
  }
}
#slide-28-layer-5 span,#slide-88-layer-5 span {
  font-size: 16px!important;
}
.oxygen-top-menu.page-template-slider-home {
  background-color: black;
}
.main-menu-top.loaded.first-slide .logo img {
  display: none;
}
.product-campaign {
  color: white!important;
  span {
    border: none!important;
    border-top: 1px solid white!important;
    background-color: transparent!important;
    color: white!important;
    padding: 10px 0 !important;
    margin-top: -4px !important;
    .opacity(0);
    .transition(opacity,.25s)!important;
  }
  b {
    i {
      position: relative;
      top: 4px;
      .opacity(1);
      .transition(all,.25s)!important;
      left: 0;
      width: 0;
    }
  }
  &:hover {
    span {
      .opacity(1);
    }
    b i {
      .opacity(0);
      left: 10px;
    }
  }
}
.tp-bullets {
  display: none;
}
.who-content {
  a {
    margin-top: 13px !important;
    position: relative;
    display: inline-block;
    margin-right: 6px !important;
  }
  .bea-pic img {
    height: inherit!important;
  }
}
@media(min-width:@screen-md-max) {
  .bea-pic img {
    max-width: 181px!important;
  }
}
@media(max-width:@screen-md-max) {
  .who-content,.mid-paragraph,.last-paragraph,.first-paragraph {
    line-height: 22px!important;
    font-size: 14px!important;
  }
  #slide-47-layer-6 {
    max-height: none!important;
  }
  div#slide-47-layer-5 {
    font-size: 34px!important;
    &:after {
      display: none!important;
    }
  }
  #slide-57-layer-6 {
    max-height:none!important;
  }
  .mid-paragraph,.last-paragraph,.first-paragraph {
    margin-bottom:0!important;
  }

}
@media(max-width:@screen-md-max)and(min-width:@screen-sm-max) {
  .bea-pic img {
    max-width: 166px!important;
  }
}
@media(max-width:@screen-sm-max)and(min-width:@screen-xs-max) {
  .bea-pic img {
    max-width: 132px!important;
    // border: 1px solid black;
  }
  .last-paragraph {
    display: none;
  }
}
@media(max-width:@screen-xs-max) {
  .bea-pic img {
    max-width: 90px!important;
    // border: 1px solid red;
  }
  .who-content,.first-paragraph,.mid-paragraph,.last-paragraph {
    line-height: 19px !important;
font-size: 12px !important;
  }
  div#slide-47-layer-5 {
    font-size: 25px!important;
  }
  .last-paragraph {
    display: none;
  }
}

@media(max-height:350px){
  #slide-28-layer-7,#slide-88-layer-7 {
    top:-51px!important;
  }
  .mid-paragraph,.last-paragraph {
    display: none;
  }
}

.enisa {
  position: fixed;
  bottom: 25px;
  left: 37px;
  z-index: 1;
  width: 29px;
  .transition(opacity,.25s);
  .opacity(0);
}

.cookies {
  position: fixed;
z-index: 1;
bottom: 16px;
width: 100%;
text-align: center;
.opacity(.6);
.transition(opacity,.25s);
left: 0;
  p {
    padding:0 80px;
    color: white;
    font-weight: 200!important;
  }
}

.home {

  @media(max-width:@screen-sm-max)and(min-width:@screen-sm-min){
    .sp-tp {
      display: inline-block;
  width: 24px;
  height: 17px;
  position: relative;
    }

    .cesta-mobile {
      background: #C74C4C;
    }
    .language {
      z-index:1000000;
    }
    .main-menu-top.sticky {
      position:absolute!important;
      padding-left:22px!important;
      background-color: transparent!important;
      .cart-items {
            background-color: transparent!important;
      }
      .main {
            background-color: transparent!important;
      }
    }
    .mobile-menu.visible-xs.visible {
      margin-left:-16px;
    }
    .mobile-menu-link {
          padding-right: 63px;
    }

  }
}
