@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";

.bridal-shoes {
  padding-top:26px;
  text-align: center;
  .col-sm-4,.col-sm-8 {
        padding: 0;
  }
  .col-sm-6,.col-sm-12 {
    padding-right:0;
  }
  .thumbnails {
    border:0;
    padding:0;
    background-color:#F8F7F3;
    text-align: center;
    position: relative;
    margin-bottom:20px;
    &.with-label {
      img {
        .opacity(0);
      }
    }
    &.th-02 {
      height:162px;
      padding-top:51px;
      h3 {
        font-size:21px!important;
      }
    }
  }
  .labels {
    position: absolute;
padding: 40px 52px 20px;
width: 100%;
left:0;
top:0;
text-align: center;
  }
}
