@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";

.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url('ie/background-size.htc')
}
.invisible {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0
}
.shop .woocommerce-checkout-review-order-table .product-quantity {
  display: block;
  font-weight: 400;
  color: #888;
  margin-top: 4px;
  font-size: 13px;
  font-style: italic;
  font-family: 'gt' !important;
}
@media (min-width:768px) and (max-width:991px) {
  .oculto-sm {
    display: none !important
  }
}
.single-post .post_img.nivo {
  height: 300px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url('ie/background-size.htc')
}
.single-post .post_details h1 {
  font-size: 48px !important;
}
.single-post .share-post h1 {
  display: none;
}
// .single-post.postid-2220 .post_details h2, .single-post.postid-2216 .post_details h2 {
//   display: no  ne !important
// }
.single-post {
  &.postid-2220,&.postid-2216,&.postid-2855,&.postid-2853 {
    .post_details {
      h2 {
        display: none !important;
      }
    }
    .ff-filter-holder {
      display: none;
    }
  }
}

.blog .single_post .post-content p {
    font-size: 17px;
}

#contact-map {
  background-image: url("http://espinelashop.com/wp-content/themes/oxygen-child/assets/images/estudio.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url('ie/background-size.htc');
  overflow: hidden
}
#contact-map .gm-style {
  display: none
}
.toggle-info-blocks {
  display: none
}
.contact-head {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 33px;
  font-size: 39px;
  margin-top: 90px
}
@media (max-width:767px) {
  .contact-head {
    margin-top: -70px;
    font-size: 21px;
    top: -53px
  }
}
#contact-map:before {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  left: 0;
  top: -74px;
  background-color: rgba(0, 0, 0, 0.5)
}
.contact-blocks-env {
  margin: 0 auto 59px !important
}
.show-me-the-route {
  display: none
}
.woocommerce .woocommerce-error, .woocommerce-info {
  background-color: #c54d4f !important;
  border-color: #c54d4f !important;
  text-transform: uppercase
}
.woocommerce .woocommerce-success {
  text-transform: uppercase;
  font-size: 17px;
  background-color: #eee;
  color: black;
  font-family: 'bodoniz', serif
}
.woocommerce .woocommerce-success .button {
  color: white;
  background-color: #c54d4f;
  margin-right: 17px
}
.woocommerce .woocommerce-success .button:hover {
  background-color: #a83739;
  color: white
}
.header-cart .btn {
  min-width: 179px;
  margin-left: -23px !important
}
.cart-sub-total {
  left: -23px !important;
  position: relative
}
.header-cart .cart-items .cart-item .details .price-quantity .quantity {
  display: none !important
}
.row.cart-items.owl-carousel.owl-theme .details .title {
  margin-top: 17px;
  position: relative;
  display: block;
  padding-left: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
.row.cart-items.owl-carousel.owl-theme .details dt {
  display: none
}
.row.cart-items.owl-carousel.owl-theme .details .variation {
  bottom: 39px
}
.row.cart-items.owl-carousel.owl-theme .details .variation dd p {
  color: #ccc !important
}
.row.cart-items.owl-carousel.owl-theme .price-quantity {
  margin-bottom: 10px
}
.page-id-1570 .woocommerce-success, .page-id-2501 .woocommerce-success {
  margin-top: 85px;
  margin-bottom: -47px
}
.page-id-7 strong.product-quantity, .page-id-1570 strong.product-quantity, .page-id-2500 strong.product-quantity, .page-id-2501 strong.product-quantity {
  font-style: normal
}
.page-id-7 table th, .page-id-1570 table th, .page-id-7 .up.cart-totals-title, .page-id-1570 .up.cart-totals-title, .page-id-2500 table th, .page-id-2501 table th, .page-id-2500 .up.cart-totals-title, .page-id-2501 .up.cart-totals-title {
  font-family: 'bodoniz', serif !important
}
.page-id-7 p, .page-id-1570 p, .page-id-7 ul, .page-id-1570 ul, .page-id-2500 p, .page-id-2501 p, .page-id-2500 ul, .page-id-2501 ul {
  padding-left: 0 !important
}
.page-id-7 p, .page-id-1570 p, .page-id-2500 p, .page-id-2501 p {
  line-height: 19px
}
.page-id-7 p small, .page-id-1570 p small, .page-id-2500 p small, .page-id-2501 p small {
  color: #b7b7b7;
  font-style: italic
}
.page-id-7 .white-block.block-pad, .page-id-1570 .white-block.checkout-block-pad, .page-id-2500 .white-block.block-pad, .page-id-2501 .white-block.checkout-block-pad {
  margin-top: 77px;
  margin-bottom: 28px;
  padding-left: 0;
  padding-right: 0
}
.page-id-7 .white-block.block-pad h1, .page-id-1570 .white-block.checkout-block-pad h1, .page-id-2500 .white-block.block-pad h1, .page-id-2501 .white-block.checkout-block-pad h1 {
  display: inline-block;
  margin-bottom: 20px
}
.page-id-7 .white-block.block-pad p.woocommerce, .page-id-1570 .white-block.block-pad p.woocommerce {
  line-height: 19px;
  padding: 19px !important
}
.page-id-7 .item-thumb img, .page-id-1570 .item-thumb img {
  border: 1px solid #ccc
}
.page-id-7 .item-thumb, .page-id-1570 .item-thumb {
  vertical-align: top
}
.page-id-7 .variation, .page-id-1570 .variation {
  margin-top: 0
}
.page-id-7 .variation dt, .page-id-1570 .variation dt {
  display: none
}
.page-id-7 .variation dd, .page-id-1570 .variation dd {
  display: inline-block
}
.page-id-7 .variation dd p, .page-id-1570 .variation dd p {
  margin: 0;
  line-height: 13px;
  font-size: 12px !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  color: #b7b7b7
}
.page-id-7 .quantity.buttons_added input[type=button], .page-id-1570 .quantity.buttons_added input[type=button], .page-id-7 .quantity.buttons_added input[type=text], .page-id-1570 .quantity.buttons_added input[type=text] {
  color: black !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  height: 22px !important;
  padding-top: 0 !important;
  background-color: #eee !important
}
.page-id-7 .quantity.buttons_added input[type=button].input-text.qty.text, .page-id-1570 .quantity.buttons_added input[type=button].input-text.qty.text, .page-id-7 .quantity.buttons_added input[type=text].input-text.qty.text, .page-id-1570 .quantity.buttons_added input[type=text].input-text.qty.text {
  background-color: white !important;
  border-color: white !important;
  line-height: 0
}
.page-id-7 .showlogin, .page-id-1570 .showlogin, .page-id-7 .showcoupon, .page-id-1570 .showcoupon {
  background-color: #f3f3f3;
  padding: 8px 19px;
  text-transform: uppercase;
  margin-left: 7px;
  font-size: 13px
}
.page-id-7 .checkout-block-padd, .page-id-1570 .checkout-block-padd {
  margin-top: 77px !important;
  margin-bottom: 0 !important;
  padding: 51px 0 0 !important;
  background-color: transparent;
  font-size: 13px;
}
.page-id-7 .checkout-form-fields, .page-id-1570 .checkout-form-fields {
  margin-top: 0 !important
}
.page-id-7 .form-row label, .page-id-1570 .form-row label, .page-id-7 label.checkbox, .page-id-1570 label.checkbox {
  text-transform: initial;
  line-height: 34px;
  position: relative;
  font-size: 16px
}
.page-id-7 .form-row label input, .page-id-1570 .form-row label input, .page-id-7 label.checkbox input, .page-id-1570 label.checkbox input {
  margin-left: -20px;
  margin-right: 16px !important;
  position: relative
}
.page-id-7 #ss_wc_mailchimp_opt_in_field label, .page-id-1570 #ss_wc_mailchimp_opt_in_field label {
  margin-bottom: -7px;
  margin-top: 20px
}
.page-id-7 .create-account p, .page-id-1570 .create-account p {
  Font-family: 'bodoniz', serif;
  font-weight: bold
}
.page-id-7 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child td, .page-id-1570 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child td, .page-id-7 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child th, .page-id-1570 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child th {
  font-family: 'bodoniz', serif;
  font-size: 12px !important;
}
.page-id-7 .white-block.block-pad.cart-env.checkout-cart-env, .page-id-1570 .white-block.block-pad.cart-env.checkout-cart-env {
  margin-top: 0 !important
}
.page-id-7 .payment_methods p, .page-id-1570 .payment_methods p {
  line-height: 20px;
  font-family: 'gt';
  font-weight: lighter;
  margin-top: 12px;
  font-size: 14px !important
}
.page-id-7 .login p, .page-id-1570 .login p {
  line-height: 20px;
  font-weight: 100 !important;
  font-size: 14px !important
}
.page-id-7 form.login, .page-id-1570 form.login {
  border-top: 0 !important
}
.page-id-2500 .quantity.buttons_added input[type=button], .page-id-2501 .quantity.buttons_added input[type=button], .page-id-2500 .quantity.buttons_added input[type=text], .page-id-2501 .quantity.buttons_added input[type=text] {
  color: black !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  height: 22px !important;
  padding-top: 0 !important;
  background-color: #eee !important;
}
.page-id-2500 .quantity.buttons_added input[type=button].input-text.qty.text, .page-id-2501 .quantity.buttons_added input[type=button].input-text.qty.text, .page-id-2500 .quantity.buttons_added input[type=text].input-text.qty.text, .page-id-2501 .quantity.buttons_added input[type=text].input-text.qty.text {
  background-color: white !important;
  border-color: white !important;
  line-height: 0;
}

/* --- */

.page-id-2500 .white-block.block-pad p.woocommerce, .page-id-2501 .white-block.checkout-block-pad p.woocommerce {
  line-height: 19px;
  padding: 19px !important
}
.page-id-2500 .item-thumb img, .page-id-2501 .item-thumb img {
  border: 1px solid #ccc
}
.page-id-2500 .item-thumb, .page-id-2501 .item-thumb {
  vertical-align: top
}
.page-id-2500 .variation, .page-id-2501 .variation {
  margin-top: 0
}
.page-id-2500 .variation dt, .page-id-2501 .variation dt {
  display: none
}
.page-id-2500 .variation dd, .page-id-2501 .variation dd {
  display: inline-block
}
.page-id-2500 .variation dd p, .page-id-2501 .variation dd p {
  margin: 0;
  line-height: 13px;
  font-size: 12px !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  color: #b7b7b7
}
.page-id-2500 .quantity.buttons_added_en input[type=button], .page-id-2501 .quantity.buttons_added_en input[type=button], .page-id-2500 .quantity.buttons_added_en input[type=text], .page-id-2501 .quantity.buttons_added_en input[type=text] {
  color: black !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  height: 22px !important;
  padding-top: 0 !important;
  background-color: #eee !important
}
.page-id-2500 .quantity.buttons_added_en input[type=button].input-text.qty.text, .page-id-2501 .quantity.buttons_added_en input[type=button].input-text.qty.text, .page-id-2500 .quantity.buttons_added_en input[type=text].input-text.qty.text, .page-id-2501 .quantity.buttons_added_en input[type=text].input-text.qty.text {
  background-color: white !important;
  border-color: white !important;
  line-height: 0
}
.page-id-2500 .showlogin, .page-id-2501 .showlogin, .page-id-2500 .showcoupon, .page-id-2501 .showcoupon {
  background-color: #f3f3f3;
  padding: 8px 19px;
  text-transform: uppercase;
  margin-left: 7px;
  font-size: 12px
}
.page-id-2500 .checkout-block-padd, .page-id-2501 .checkout-block-padd {
  margin-top: 77px !important;
  margin-bottom: 0 !important;
  padding: 51px 0 0 !important;
  background-color: transparent
}
.page-id-2500 .checkout-form-fields, .page-id-2501 .checkout-form-fields {
  margin-top: 0 !important
}
.page-id-2500 .form-row label, .page-id-2501 .form-row label, .page-id-2500 label.checkbox, .page-id-2501 label.checkbox {
  text-transform: initial;
  line-height: 34px;
  position: relative;
  font-size: 16px
}
.page-id-2500 .form-row label input, .page-id-2501 .form-row label input, .page-id-2500 label.checkbox input, .page-id-2501 label.checkbox input {
  margin-left: -20px;
  margin-right: 16px !important;
  position: relative
}
.page-id-2500 #ss_wc_mailchimp_opt_in_field label, .page-id-2501 #ss_wc_mailchimp_opt_in_field label {
  margin-bottom: -7px;
  margin-top: 20px
}
.page-id-2500 .create-account p, .page-id-2501 .create-account p {
  Font-family: 'bodoniz', serif;
  font-weight: bold
}
.page-id-2500 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child td, .page-id-2501 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child td, .page-id-2500 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child th, .page-id-2501 .shop .woocommerce-checkout-review-order-table tbody>tr:first-child th {
  font-family: 'bodoniz', serif
}
.page-id-2500 .white-block.block-pad.cart-env.checkout-cart-env, .page-id-2501 .white-block.checkout-block-pad.cart-env.checkout-cart-env {
  margin-top: 0 !important
}
.page-id-2500 .payment_methods p, .page-id-2501 .payment_methods p {
  line-height: 20px;
  font-family: 'gt';
  font-weight: lighter;
  margin-top: 12px;
  font-size: 14px !important
}
.page-id-2500 .login p, .page-id-2501 .login p {
  line-height: 20px;
  font-weight: 100 !important;
  font-size: 14px !important
}
.page-id-2500 form.login, .page-id-2501 form.login {
  border-top: 0 !important
}
.page-template-default .arimo, .page-template-default p {
  color: black;
  font-weight: 400;
  font-size: 15px !important;
  letter-spacing: 0;
  line-height: 18px !important;
  padding: 0px 20px;
}

/* --- */

.btn-gray {
  background-color: #ccc !important;
  color: black !important
}
input[type=tel] {
  display: block;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  font-size: 13.45px;
  line-height: 1.42857143;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  background: #f4f4f4;
  border: 0;
  margin-bottom: 10px;
  color: #666
}
.select2-chosen {
  font-family: 'gt', sans-serif;
  font-size: 13px
}
.customize-01 {
  margin-top: -55px
}
.customize-01 h2 {
  background-color: black;
  color: white;
  padding: 17px 26px;
  width: 100%;
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  top: 117px;
  font-size: 19px;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  transition: opacity .25s linear;
  pointer-events: none
}
.customize-01 .vc_column_container:hover h2 {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1
}
.customize-02 p {
  text-align: center;
  font-size: 13px !important;
  line-height: 19px
}
.customize-02 h2 {
  font-size: 18px
}
.page-id-2237 .sidebar-env {
  display: none
}
.page-id-2237 .shop-product-env {
  width: 100% !important;
  display: block !important
}
.customize-03 h2 span, .customize-0 h2 span {
  display: block;
  padding-right: 34px;
  font-size: 42px;
  font-weight: bolder
}
.customize-03 #btn-index-1.btn, .customize-0 #btn-index-1.btn {
  float: right;
  margin-right: 35px;
  font-size: 19px
}
.customize-0 {
  padding-top: 108px;
  margin-bottom: 55px !important;
  padding-bottom: 73px
}
@media (max-width:480px) {
  .cart-env .cart-item-row .col.col-thumb-name .remove {
    /*background: url(../images/view_pro_close_btn.png) no-repeat;*/
    text-align: left;
    position: absolute;
    top: 50%;
    left: -24px;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 10;
    margin-top: -15px;
  }
  .col-xs-2 {
    width: 90px !important;
    text-align: right !important;
    padding: 0 !important;
    padding-right: 2px !important;
  }
  .col-xs-3 {
    width: 120px !important;
  }
  .col-xs-7 {
    width: 120px !important;
    padding: 0 !important;
    padding-left: 12px !important;
  }
  .cart-env .cart-item-row .col .item-name p {
    color: black;
    font-weight: 400;
    font-size: 12px !important;
    letter-spacing: 0;
    line-height: 14px !important;
    padding: 0 !important;
    margin-bottom: 6px !important;
    width: 90px !important;
  }
  .cart-env .cart-totals p, .col-sm-6 p {
    width: 100% !important;
    padding: 0 !important;
  }
  .cart-env .cart-header-row {
    margin: 0 !important;
    margin-bottom: 20px !important;
    padding: 0 !important;
    padding-bottom: 6px;
    background: 0 0!important;
  }
  .cart-env .cart-item-row .col .item-name, .cart-env .cart-item-row .col .item-thumb {
    width: 120px !important;
  }
  .cart-env .cart-item-row .col.col-thumb-name {
    width: 120px !important;
    padding: 0 !important;
    padding-left: 8px !important;
    /*left: -8px !important;*/
  }
  .col-total .amount {
    color: black !important;
    font-size: 13px !important;
    font-weight: 600
  }
  .col-subtotal .amount {
    color: black !important;
    font-size: 13px !important;
    font-weight: 600
  }
  .cart-env .cart-item-row .col .item-name, .cart-env .cart-item-row .col .item-thumb {
    width: 0px !important;
  }
  .cart-env .cart-item-row .col .item-name .item-name-span {
    width: 120px !important;
    padding-top: 4px !important;
  }
  .cart-env .cart-item-row .col {
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 100px !important;
    padding: 0 !important;
  }
  .cart-env .cart-item-row .col .col-sm-3 {
    padding: 0 !important;
    width: 100px !important;
  }
  .cart-env .cart-item-row .col.col-subtotal, .cart-env .cart-item-row .col.col-total {
    font-size: 13px;
    width: 90px !important;
  }
  .quantity.buttons_added, .quantity.buttons_added_en {
    width: 100px !important;
    float: right !important;
    border: none !important;
  }
  .cart-env .cart-item-row .col .quantity input.qty {
    width: 40px !important;
  }
  .shop#yith-wcwl-form .shop_table tbody tr td.product-price .amount {
    font-size: 13px !important;
    font-weight: 600;
  }
  .page-id-7 .checkout-block-padd, .page-id-1570 .checkout-block-padd, .page-id-2500 .checkout-block-padd, .page-id-2501 .checkout-block-padd {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 51px 0 0 !important;
    background-color: transparent;
    font-size: 13px;
  }
}

.customize-0 {
  span {
    color: #ffffff;
font-size: 22px;
line-height: 1.3!important;
font-family: 'bodoniz',sans-serif;
  }
  @media(max-width:@screen-xs-max){
    h2 span {
          font-size: 25px;
    }

  }
}
.customize-02 {
  p {
font-size: 15px!important;
line-height: 1.4!important;
margin-bottom: 22px!important;

  }
  h2 {
        font-size: 22px;
  }
}

.customize-03 {
  @media(max-width:@screen-xs-max){
    h2 span {
      font-size:25px!important;
    }
    #btn-index-1.btn {
      text-align: center;
      margin: 0 auto;
      float: inherit;
      display: block;
    }
    h2, p, h2 span,p span {
      text-align:center!important;
          padding-right: 0;
    }
  }

}

.not-found .center {
  margin-top: 106px;
margin-bottom: 81px;
.row {
  width:100%;
}
h2 {
  color: black!important;
}
p {
  font-family: 'bodoniz',serif;
font-size: 18px;
a {
  color:#C74C4C!important;
}
}
.btn-404 {
  font-size: 17px;
border: 1px solid black;
padding: 10px 25px;
margin-top: 16px;
display: inline-block;
color: black!important;
}
}
