@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";
.laborator-woocommerce .product-single .product-left-info .product-images .thumbnails .owl-wrapper {
  position: relative;
  overflow: hidden !important;
  height: 80px !important;
}
.label {
  font-size: 12px !important;
}
.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url(ie/background-size.htc);
}
.invisible {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.product-single .price .amount {
  font-size: 31px !important;
  margin-bottom: 40px !important;
  margin-top: 0 !important;
}
.product-single .single_variation_wrap {
  display: inherit !important;
  padding-top: 24px !important;
}
.product-single .person1 {
  top: 350px;
  padding: 14px 32px;
  text-transform: uppercase;
  background-color: black;
  display: inline-block;
  position: absolute;
  color: white;
  font-family: 'bodoniz', serif;
  z-index: 1;
}
.product-single .person1:hover {
  background-color: #c54d4f;
}
.product-single .share-product {
  margin-top: 58px !important;
}
.product-single .entry-summary .variations_form .single_variation .stock {
  /*position:absolute !important;*/
  margin-top: -30px !important;
  margin-bottom: 0 !important;
}
.product-single .entry-summary .variations_form .single_variation .stock:before {
  content: "*";
}
.product-single .entry-summary .variations_form .single_variation .stock.available-on-backorder {
  background-color: black;
  padding: 9px 23px;
  color: white !important;
  text-align: center;
}
.product-single .entry-summary .variations_form .single_variation .stock.available-on-backorder:before {
  content: "\e107" !important;
  margin-right: 10px;
  font-family: 'Glyphicons Halflings' !important;
}
.product-single a.reset_variations {
  display: none !important;
}
.product-single .plantza {
  font-family: 'Bodoniz', serif !important;
  font-size: 11px !important;
  float: left;
  color: #606060 !important;
  text-transform: uppercase !important;
  font-style: normal;
  margin-bottom: 30px !important;
}
.product-single .plantza:hover {
  color: #dd1f26 !important;
}
.share-product li a {
  background: #000 !important;
  border-radius: 50%;
}
.share-product li a:hover {
  border-radius: 50% !important;
}
.entry-title {
  background-image: none !important;
  /*background-position:0 34px;background-repeat:no-repeat;padding-bottom:15px;font-size:24px*/
}
.product-single .spacevert {
  display: none;
}
.quantity.buttons_added,
.quantity.buttons_added_en {
  width: 49% !important;
  float: right;
}
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=button],
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=text],
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=button],
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=text] {
  color: black !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  height: 32px !important;
  padding-top: 0 !important;
  background-color: #eee !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=button].input-text.qty.text,
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=text].input-text.qty.text,
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=button].input-text.qty.text,
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=text].input-text.qty.text {
  background-color: white !important;
  border-color: white !important;
  line-height: 0;
  width: 60%;
}
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added:before {
  content: "*Unidades";
  display: inline-block;
  position: relative;
  height: inherit;
  clear: both;
  top: -3px;
  text-transform: uppercase;
  text-align: left;
  color: #b7b7b7;
  width: 100%;
  margin-bottom: 1px;
}
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en:before {
  content: "*Units";
  display: inline-block;
  position: relative;
  height: inherit;
  clear: both;
  top: -3px;
  text-transform: uppercase;
  text-align: left;
  color: #b7b7b7;
  width: 100%;
  margin-bottom: 1px;
}
.shop_sidebar .sidebar h3 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
  word-break: break-word;
  color: #222;
  border-bottom: 0;
  position: relative;
}
.shop_sidebar .sidebar h3:after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.25) !important;
  position: absolute;
  left: 0;
  bottom: 0;
}
.shop_sidebar .sidebar .variation {
  margin-top: -6px;
}
.shop_sidebar .sidebar .variation p {
  color: #bebebe;
}
.shop_sidebar .sidebar .quantity {
  margin-top: -4px;
  display: inline-block;
}
.shop_sidebar .sidebar .total strong {
  font-weight: normal;
  color: gray;
  font-family: 'bodoniz';
}
.shop_sidebar .sidebar .buttons a {
  margin-bottom: 2px !important;
}
.shop_sidebar .sidebar .buttons a.checkout {
  width: 100%;
  padding: 12px;
}
.row.white-row {
  border: none !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity {
  margin-left: 10px !important;
  white-space: nowrap;
  display: table;
  display: inline-block;
  position: relative;
  width: 140px !important;
}

/*@media (max-width:1024) {*/
.oculto-sm {
  display: none !important;
}
.quantity.buttons_added,
.quantity.buttons_added_en {
  margin-left: 0 !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=button],
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=text],
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=button],
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=text] {
  color: black !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
  height: 32px !important;
  padding-top: 0 !important;
  background-color: #eee !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=button].input-text.qty.text,
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added input[type=text].input-text.qty.text,
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=button].input-text.qty.text,
.laborator-woocommerce .product-single .entry-summary .quantity.buttons_added_en input[type=text].input-text.qty.text {
  background-color: #f0f0f0 !important;
  border-color: white !important;
  line-height: 0;
  width: 66px !important;
}
.quantity.buttons_added,
.quantity.buttons_added_en {
  width: 170px !important;
  float: right !important;
  border: none !important;
}
.single_add_to_cart_button.button.alt {
  background-color: #c74c4c !important;
  color: white !important;
  font-family: "Bodoniz", serif !important;
  padding: 16px 8px !important;
  width: 48% !important;
  margin: 0 !important;
}
.single_add_to_cart_button.button.alt:before {
  display: none !important;
}

/*}*/
@media (max-width:480px) {
  .quantity.buttons_added,
  .quantity.buttons_added_en {
    width: 100px !important;
    float: right !important;
    border: none !important;
  }
}
@media screen and (max-width: 991px) {
  .laborator-woocommerce .product-single .entry-summary .quantity {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
}
.single-product {
  .entry-summary div[itemprop=description] p {
    line-height: 1.5!important;
  }
  .quantity.buttons_added input[type=text].input-text.qty.text {
    border-color: #f0f0f0 white !important;
  }
  .forcefullwidth_wrapper_tp_banner {
    height: 238px!important;
    @media(max-width:@screen-xs-max) {
      display: none;
    }
    .texto_header {
      height: 100%;
      font-size: 42px!important;
      color: transparent;
      .texto_header_description {
        p {
          color: white;
          font-size: 23px;
          margin-top: -58px;

          // margin-top:38px;
          font-family: 'bodoniz';
          font-style: italic;

          //         &:before {
          //           width:30px;
          //           height:3px;
          //           background-color: rgba(255,255,255,.5);
          //           content: "";
          // position: absolute;
          // left: 50%;
          // margin-left: -15px;
          // margin-top: -36px;
          //         }
        }
      }
    }
  }
}
p.stock.in-stock {
  display: none;
}

// PROCESO DE COMPRA
.page-id-7,
.page-id-2500,.page-id-1570,.page-id-2501 {
  .shipping {
    .amount {
      float: right;
    }
  }
  .woocommerce-info,
  .woocommerce-success,.woocommerce-error {
    padding-left: 29px !important;
    color: black;
    background-color: rgba(76, 154, 199, 0.16)!important;
    font-family: 'bodoniz', serif;
    font-size: 17px;
    text-transform: inherit;
  }
  .woocommerce-error {
    color:white;
  }
  p.backorder_notification {
    text-transform: uppercase;
    background-color: rgba(199, 76, 76, 0.15);
    padding: 8px 11px !important;
    font-size: 14px!important;
  }
  .form-row.terms {
    a {
      color:#C74C4C;
    }
  }
  .bank-warning {
    background-color: rgba(199, 76, 76, 0.16);
font-family: 'bodoniz',serif;
font-size: 17px!important;
padding: 14px 22px!important;
  }
  .order_details.bacs_details {
    // padding: 17px!important;
li {
  font-size: 15px;
font-family: 'gt';
text-transform: uppercase;
text-align: right;
background-color: #E3EFF6!important;
padding: 17px!important;
&.iban {
  padding-top:0!important;
}
strong {
  font-size: 24px;
display: block;
border-bottom: 1px solid #ccc;
padding-bottom: 6px;
}
}
// &:first-child {
//   background-color: #E3EFF6;
// }
  }
  small.shipped_via {
    font-family: 'gt',sans-serif;
  }

}

.texto_header_description p span {
    font-family: 'bodoniz',serif!important;
    font-size: 26px!important;
}
