@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";

.page-template-quienes-somos {
.wrapper {
  background-color: white!important;
  .main {
    background-color:white!important;
  }
  .main-menu-top.sticky {
    // background:none!important;
    // .box-shadow(none)!important;
    .main {
      background-color:black!important;
    }
    // #menu-espinela-main {
    //   display: none;
    // }
  }

}
.quienes-somos {
      padding-top: 57px;
  .left-image {
    position: fixed;
    left: 0;
    top: 0;
    padding:0;
    margin-top:57px;
    // background-color:black;
    .background-size(cover);
    height:100%;
    @media(max-width:@screen-xs-max){
      height: 100%;
width: 100%;
.opacity(.1);
    }
//     img {
//       .opacity(.7);
//       height: 100%;
// min-width: 100%;
// width: inherit;
//     }
  }
  .sliders {
    overflow:hidden;
    max-height:1024px;
    .transition(max-height,.25s);
    &.closed {
      max-height:0;
      top:100%;

    }
  }
  .right-content {
    padding-top: 96px;
    @media(max-width:@screen-sm-max){
      padding-top:31px;
    }
    h1 {
      font-family:@fontserif;
      font-size:40px;
      color:black;
    }
    p {
      color:black;
      font-size:15px;
      line-height: 1.5;
      @media(max-width:@screen-sm-max){
        line-height:1.4;
      }
      &.thumbs {
            margin-top: 22px;
            margin-bottom:30px;
        a {
          width:46%;
          float:left;
          margin-right:2%;
          max-width:176px;
        }
      }
    }
  }

}
}
