@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";
.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url(ie/background-size.htc);
}
.invisible {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
@media (min-width:768px) and (max-width:991px) {
  .oculto-sm {
    display: none !important;
  }
}
.add-to-cart-btn.entypo-list-add {
  display: none;
}
.hover-second-only {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)' !important;
  filter:alpha(opacity=100) !important;
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  opacity: 1 !important;
}
.hover-second-only:hover {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)' !important;
  filter:alpha(opacity=97) !important;
  -moz-opacity: 0.97 !important;
  -khtml-opacity: 0.97 !important;
  opacity: 0.97 !important;
}
.widget_shopping_cart_content dl.variation {
  margin-top: 0;
}
.widget_shopping_cart_content dl.variation dt {
  display: none;
}
.widget_shopping_cart_content .total strong {
  color: black;
}
.widget_shopping_cart_content .buttons .button {
  background-color: #c74c4c;
  width: 100%;
}
.widget_shopping_cart_content .buttons .button.checkout {
  width: 100%;
}
.header-cart .cart-sub-total span {
  color: #c74c4c !important;
}
.btn.btn-default {
  background-color: #c74c4c;
}
.laborator-woocommerce .product-single .entry-summary .product-top-nav {
  display: none;
}
.laborator-woocommerce .product-single .entry-summary div[itemprop=description] {
  margin-top: 28px;
}
.laborator-woocommerce .product-single .entry-summary div[itemprop=description] p {
  font-size: 15px;
  line-height: 1.6;
  color: black;
  margin-bottom: 20px;
}
.title123 {
  float: left;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 7px;
  font-family: "Bodoniz", serif;
}
.tablaproduct123 {
  border-bottom: 2px solid #000;
}
.plantza {
  font-size: 16px;
  font-style: italic;
}
.laborator-woocommerce .product-single .entry-summary .price>.amount {
  font-size: 40px;
  margin-top: 20px;
}
.row.white-row {
  border: none;
}
.person1 {
  margin-top: -350px;
  padding: 27px;
}
.widget_product_categories .cat-item.cat-item-108,
.widget_product_categories .cat-item.cat-item-130 {
  background-image: url(http://espinelashop.com/wp-content/uploads/2015/11/zapatos-novia2.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.widget_product_categories .cat-item.cat-item-108 a,
.widget_product_categories .cat-item.cat-item-130 a {
  position: relative;
  padding: 0;
  display: block;
  height: 200%;
  color: transparent;
  text-align: center;
  text-transform: none;
  font-size: 22px;
  padding-top: 98px;
  margin-top: -15px;
  z-index: 1;
}
.widget_product_categories .cat-item.cat-item-108 a:after {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background: black;
  margin-top: 0;
  content: "Especial novias";
  color: white;
  padding-top: 10px;
}
.widget_product_categories .cat-item.cat-item-130 a:after {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background: black;
  margin-top: 87px;
  content: "Special Brides";
  color: white;
  padding-top: 10px;
}
.term-108.tax-product_cat .forcefullwidth_wrapper_tp_banner div {
  background-image: url(http://www.321mecaso.com/wp-content/uploads/2013/09/7948138326_f6247a49c3_z.jpg) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url(ie/background-size.htc);
}
.product-categories li {
  width: 100%;
}
.product-categories li a {
  width: 100%;
}
.customize-widget {
  position: relative;
  display: block;
}
.customize-widget .label {
  background-color: white;
  display: block;
  position: absolute;
  font-size: 14px;
  width: 100%;
  font-weight: lighter;
  padding: 11px 0;
  margin-top: -40px;
  text-transform: uppercase;
  border-radius: 0;
  color: black;
  text-align: left;
}
.customize-widget .label:after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: -20px;
}
.sidebar.woocommerce.widget_product_categories.woocommerce_product_categories-2 h3 {
  display: none;
}
.laborator-woocommerce .product-single .entry-summary .variations_form .variations_button .single_add_to_cart_button {
  @media(max-width:@screen-xs-max){
    margin-top:8px!important;
  }
}
/*
@media (max-width:767px) {
.single_add_to_cart_button.button.alt {
	background-color: #c74c4c !important;
	color: white !important;
	font-family: "Bodoniz", serif !important;
	padding: 16px 27px !important;
	width: 100% !important;
	margin: 0px !important;
	margin-top: 20px !important
}
.single_add_to_cart_button.button.alt:before {
	display: none !important
}
.person1 {
	margin-top: -350px;
	padding: 27px
}
}
*/
.banner-content {
  margin-top: 45px;
  .separator {
    width: 30px;
    height: 2px;
    background-color: rgba(255,255,255,.7);
    display: inline-block;
    top: -3px;
    position: relative;
  }
  .titulo {

  }
  .frase {
    font-size: 31px;
    text-transform: none;
    p span {
      color: white!important;
      font-size: 31px!important;
      font-weight: bold;
    }
  }
}
@media(min-width:@screen-xs-min) and (max-width:@screen-xs-max) {
  .laborator-woocommerce .items .product {
    width: 32%;
    display: inline-block;
  }
}


// OCULTAR TEMPORALMENTE COLECCIONES Y NOVIAS
.cat-item-109,
.cat-item-108 {
  display: none;
}

.image.hover-second-only {
    background-color:white!important;
}
