/*
============================================================

	Theme Name: Oxygen - Child Theme
	Theme URI: http://www.laborator.co/view-theme/oxygen
	Author: Laborator
	Author URI: http://laborator.co/
	Version: 1.0
	Description: Use this theme if you want to extend features of Oxygen or prevent overwriting the changes you make when new theme update is available.
	Template: oxygen
	Text Domain: oxygen
	
============================================================
*/
@import "css/styles.css";.cat-item-108 a{height: 213px;width: 257px;padding: 100px 16px 200px 200px;}.ff-theme-flat.ff-style-3 .ff-icon-inner{border-radius: 0;margin: -2px;width: 42px;height: inherit;padding-left: 6px;padding-right: 6px;padding-top: 15px;padding-bottom: 15px;}.laborator-woocommerce .checkout-block-padd{padding: 60px 35px;margin-top: 71px;margin-bottom: -77px;}.header-cart .cart-items .cart-item .details .variation{position: fixed !important;bottom: 23px;}.header-cart .cart-items .cart-item .details .title{display: inline;font-size: 100%;padding: 10px;max-height: 75px;overflow: hidden;-moz-transition: all 350ms ease-in-out;-o-transition: all 350ms ease-in-out;-webkit-transition: all 350ms ease-in-out;transition: all 350ms ease-in-out;}dl.variation{margin: 0;margin-top: 37px;font-size: 95% !important;}