@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";
.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -ms-behavior: url(ie/background-size.htc);
}
.invisible {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
@media (min-width:768px) and (max-width:991px) {
  .oculto-sm {
    display: none !important;
  }
}
.home .wrapper {
  margin-top: 45px;
}
.wrapper {
  margin-top: 37px;
}
@media (max-width:991px) {
  .wrapper {
    margin-top: 77px;
  }
}
@media (max-width:767px) {
  .wrapper {
    margin-top: 45px;
  }
}
.oxygen-top-menu .wrapper {
  -webkit-transition: margin-top 0.43s ease-in-out;
  -moz-transition: margin-top 0.43s ease-in-out;
  -o-transition: margin-top 0.43s ease-in-out;
  transition: margin-top 0.43s ease-in-out;
}
.oxygen-top-menu .wrapper .top-menu .main {
  display: none;
}
.oxygen-top-menu .wrapper .top-menu+div {
  position: absolute;
}
.oxygen-top-menu .wrapper .main-menu-top {
  top: 0 !important;
  background: black;
  position: fixed;
  margin-top: 8px !important;
  width: 100%;
  z-index: 10000;
  display: inherit !important;
  background-color: black !important;
  margin-bottom: 0;
  -webkit-transition: margin-top 0.43s ease-in-out;
  -moz-transition: margin-top 0.43s ease-in-out;
  -o-transition: margin-top 0.43s ease-in-out;
  transition: margin-top 0.43s ease-in-out;
}
@media (max-width:991px) and (min-width:768px) {
  .oxygen-top-menu .wrapper .main-menu-top {
    left: 0;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    margin-bottom: -20px !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .nav li a {
    padding-left: 14px;
  }
}
@media (max-width:991px) {
  .oxygen-top-menu .wrapper .main-menu-top {
    display: inherit !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top #menu-espinela-main-1 {
    margin-top: 44px;
    margin-left: 0;
  }
  .oxygen-top-menu .wrapper .main-menu-top #menu-espinela-main,
  .oxygen-top-menu .wrapper .main-menu-top #menu-top-links {
    display: none;
  }
  .oxygen-top-menu .wrapper .main-menu-top #menu-espinela-main-ingles0,
  .oxygen-top-menu .wrapper .main-menu-top #menu-top-links-ingles0 {
    display: none;
  }
}
.oxygen-top-menu .wrapper .main-menu-top.sticky {
  left: initial;
  right: initial;
  top: 0;
  margin-top: 7px !important;
}
@media (max-width:991px) {
  .oxygen-top-menu .wrapper .main-menu-top.sticky {
    margin-top: -91px !important;
  }
}
.oxygen-top-menu .wrapper .main-menu-top.sticky .logo:before {
  margin-left: 0 !important;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)' !important;
  filter:alpha(opacity=100) !important;
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  opacity: 1 !important;
}
.oxygen-top-menu .wrapper .main-menu-top.sticky .logo a img {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  margin-top: -100px;
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo {
  display: block;
  width: 147px;
  float: left;
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo:before {
  height: 13px;
  margin-top: 20px;
  background-image: url(../../assets/images/logo-horizontal.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 130px !important;
  content: "";
  position: absolute;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  margin-left: -20px;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo img {
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
@media (max-width:991px) {
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo {
    z-index: 10000;
    position: relative;
    width: 100%;
    /*height:80px !important;*/
    left: 0 !important;
    top: 0 !important;
    padding-left: 8px !important;
    padding-top: 0 !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo img {
    display: none;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo:before {
    margin-left: 0;
    margin-top: 17px;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo .divider {
  display: none !important;
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo h3 a {
  position: absolute;
  width: 114px;
  top: 11px;
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo .mobile-menu-link {
  display: none !important;
}
@media (max-width:991px) {
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo .mobile-menu-link {
    display: inherit !important;
    position: absolute;
    top: 14px;
    right: 8px;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo .mobile-menu-link i {
    color: white;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .logo .divider {
    display: inherit !important;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .nav {
  margin-left: 15px;
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .nav li:hover a {
  color: #c74c4c;
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .nav li:hover a:before {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .nav li a {
  color: white;
  text-transform: none;
  font-style: italic;
  font-size: 114%;
}
@media (max-width:991px) {
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env {
    background-color: black;
    padding-top: 0 !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu .search-form {
    display: none;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu li.menu-item-has-children,
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu li:first-child {
    overflow: inherit !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu li.menu-item-has-children a,
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu li:first-child a {
    padding-left: 14px !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu .sub-menu {
    background-color: white !important;
    width: 100% !important;
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
    position: relative !important;
    transform: none !important;
    padding: 0 !important;
    top: -1px !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu .sub-menu li {
    background: white !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu .sub-menu li a {
    background: white !important;
    color: black !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu #menu-espinela-main-1 {
    width: 100%;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu #menu-espinela-main-1 a:hover {
    text-decoration: none;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .mobile-menu #menu-espinela-main-1 a:hover:before {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieOpacidad)';
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .nav li {
    background-color: black;
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .nav li a {
    background-color: black;
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .cart-items {
    background-color: black;
    color: white;
    padding-top: 15px !important;
    clear: both;
    padding-left: 21px;
    text-transform: none;
    font-style: italic;
    font-size: 16px;
    padding-right: 24px;
    z-index: 100;
    position: relative;

    span {
      border-radius: 1px!important;
padding: 2px 9px;
height: 23px;
background-color:white;
color:#c54d4f;
    }
  }
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .entypo-plus {
    color: white;
  }
}
@media (max-width:767px) {
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env {
    background-color: black;
    padding-top: 0 !important;
  }
  // body:not(.home){
  //   padding-top: 0!important;
  // }
}
.oxygen-top-menu .wrapper .main-menu-top .main .sec-nav {
  right: 0;
  margin-right: 257px;
  position: absolute;
  padding-top: 16px;
}
@media (max-width:991px) {
  .oxygen-top-menu .wrapper .main-menu-top .main .sec-nav {
    display: inherit;
  }
}
.oxygen-top-menu .wrapper .main-menu-top .main .sec-nav.no-product {
  margin-right: 24px;
}
.oxygen-top-menu .wrapper .main-menu-top .main .sec-nav li {
  list-style-type: none;
}
.oxygen-top-menu .wrapper .main-menu-top .main .sec-nav li a {
  color: white;
  font-style: italic;
  text-transform: none;
  font-size: 114%;
}
.oxygen-top-menu .wrapper .main-menu-top .search-form {
  display: none;
}
.oxygen-top-menu .wrapper .main-menu-top .search-form input {
  color: white;
}
.oxygen-top-menu .wrapper .main-menu-top .search-form .glyphicon.glyphicon-search {
  color: white;
}
.oxygen-top-menu .wrapper .main-menu-top .search-form:hover .glyphicon.glyphicon-search {
  color: #c74c4c;
}
.oxygen-top-menu .wrapper .main-menu-top .search-input-env {
  padding: 16px;
  z-index: 1;
  background-color: #272727 !important;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon {
  width: 200px;
  right: 0;
  position: absolute;
  top: 0;
  /*padding-top:10px;*/
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon.no-product {
  display: none;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon .cart-left,
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon .cart-right {
  float: left;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon .cart-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 16px;
  margin-right: 16px;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon a {
  width: 100%;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon a .cart_content {
  background-color: #c74c4c;
  padding: 11px 16px 12px !important;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon a .cart_content:hover {
  background-color: #af3131;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon a .cart_content span.amount {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80px;
  font-size: 17px;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon a .cart_content span.number {
  color: black;
  display: inline-block;
  font-style: italic;
  font-size: 17px;
  top: 6px;
  position: relative;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon a .cart_content span.bucket {
  background-color: transparent;
  background-image: none !important;
  color: black;
  display: inline-block;
  font: normal normal normal 15px/1 'fontello';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 6px;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon a .cart_content span.bucket:before {
  content: "\e85a";
  font-size: 1.3em;
}
.oxygen-top-menu .wrapper .main-menu-top .cart-ribbon a .bucket_bottom {
  display: none;
}
.header-cart-open.oxygen-top-menu .wrapper {
  margin-top: 227px !important;
}
.header-cart-open.oxygen-top-menu .wrapper .main-menu-top {
  margin-top: 197px !important;
}
.header-cart-open.oxygen-top-menu .header-cart {
  width: 100%;
  position: fixed;
  top: 7px;
}
.header-cart-open.oxygen-top-menu .header-cart .cart-sub-total span {
  display: block;
}
@media (max-width:991px) {
  .oxygen-top-menu .wrapper .main-menu-top .main .sec-nav {
    right: 0;
    margin-right: 30px !important;
    position: absolute;
    padding-top: 16px;
  }
  .oxygen-top-menu .wrapper .main-menu-top .cart-ribbon {
    width: 66px;
    right: 0;
    position: absolute;
    top: 0;
    display: none !important;
  }
}
@media (max-width:991px) {
  .sticky-menu .wrapper .main-menu-top.sticky {
    margin-top: -14px !important;
    margin-bottom: 0 !important;
        padding-left: 0;
        padding-right:0;
  }
}
@media (max-width:767px) {
  .sticky-menu .wrapper .main-menu-top.sticky {
    margin-top: -12px !important;
    margin-bottom: -40px !important;
  }
}

@media(max-width:1140px){
  // .woocommerce-cart {
    .sec-nav {
    margin-right: 211px!important;
  }
    #menu-espinela-main {
          margin-left: -5px;
          li {
            a {
              font-size: 15px;
padding: 15px 6px;
            }
          }
    }
  // }
}

.cesta-mobile {
  position: relative;
top: 45px;
list-style-type: none;
a {
  .txt-cesta {
      padding-left: 8px!important;
  }

  background-color:#C54D4F!important;
}
}

.cart-top span {
  background-color:#c54d4f!important;
  color:white!important;
  i {
    margin-left: 7px;
margin-right: 14px;
  }
}

html[lang=en-US]{
  .oxygen-top-menu .wrapper .main-menu-top .main .main-menu-env .cart-items {
    margin-bottom: 43px;
  }
}
