
.hover-second-only {
    opacity: 1 !important;
    background-color: black;
    z-index: 0 !important;
}
.divider {
 width: 8% !important;
    }
.amount{
    color: black !important;
    font-size: 23px;
    font-weight: 600;
}
.entypo-list-add{
width: 50px;
    height: 40px;
    margin-left: 40px;
    margin-right: -20px;
    margin-top: -172px;
    background-color: #E64C4E;
    z-index: 99999999999999;
    clear: both;}
.shop .items .item-wrapper .item .description .add-to-cart-btn {
    color: white !important;
    font-size: 29px !important;
    text-align: center;
}
.wrapper
{

    background-color: white !important;
}
 .main{

    background-color: white !important;
}
footer .divider {
 width: 100% !important;
}
footer .footer_main .copyright_text {
    color: #333;
    font-size: 92% !important;
    position: initial !important;
    top: 4px !important;
    float: initial !important;
    margin-top: -22px !important;
    margin-left: -182px !important;
    width: 29% !important;
}
.copyfoo {
    width: 51% !important;
    float: right !important;
    clear: both !important;
}
.footer-nav{
	float: right;
    margin-right: 378px;}
.entypo-list-add:before {
 content: '\e816' !important;
}
.logofoot{width: 11%;
    margin-top: -23px;
    float: left;
    margin-left: 14px;}
.socialicons {
    // float: right;
    // margin-top: -29px;
    // margin-right: -57px;
    float: inherit;
    margin-top: -32px;
    margin-right: 0px;
}
.iconuni {
    float: left;
    width: 23%;
}
.iconuni:hover{
		opacity:0.8;}
.cat-item-108 {
				background-image:url('http://espinelashop.com/wp-content/uploads/2015/09/especialnovias.jpg');
				height:213px;
				width:257px;}
.cat-item-108 a {
    height: 213px;
    width: 257px;

}
.item{background-color: black;
    width: 99%;
}
.cat-parent a{ background-image: url('http://espinelashop.com/wp-content/uploads/2015/09/oxygen.jpg');
    background-position: 0px 34px;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    font-size: 24px ;
    font-weight: bold;
}
.children li a{ background-image:none !important; font-size: 12px;    font-weight: normal !important;    padding-bottom: 0px; }
.children{margin-left: 0px !important;
    top: 17px !important;
    margin-bottom: 24px !important;}
.menu li a{margin-top:10px;
		color:#000 !important;
font-weight:bold;}
footer .footer_main .footer-nav ul li:after {
    content: " ." !important;
    margin: 24px 4px 6px;
    color: #000 !important;
    font-weight: bold !important;
    margin-top: -7px !important;
    text-align: center;
    padding-top: 46px;
    font-size: 20px;
    top: -19px;
}
.woocommerce-tabs {
display:none;}
.laborator-woocommerce .product-single .entry-summary .quantity input[type=button] {
    background-color: #000 !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity input.qty {

    color: #000  !important;
  border: 1px solid #000 !important;
background: white !important;
}
.laborator-woocommerce .product-single .entry-summary .quantity input.qty:hover{

    color: #000  !important;
   border: black !important;
    border: 1px solid;
	background: white !important;
}
.tablaproduct123 {
	border-bottom:1px solid #000;
	overflow:hidden;
}
	.title123{
		float:left;
		    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 7px;}
		.infoprodsing{
			float:right;
			    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 7px;}
			.space123{
				width:50px;}
				.spacevert{
					height:30px;}
					.plantza{
						font-size: 17px;
    float: right;}
.share-product li a {

    background: #000 !important;

    border-radius: 50% ;
}
.share-product li a:hover{



    border-radius: 50% !important;
}
.entry-title{ background-image: url('http://espinelashop.com/wp-content/uploads/2015/09/oxygen.jpg');
    background-position: 0px 34px;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    font-size: 24px ;
    }


li.feed-item.juicer.image-post.juicer, .referral {
   display: none!important;
}

.oxygen-top-menu>.wrapper>.main-menu-top {
    margin-bottom: 0px;
    background: #f8f8f8;
}

.oxygen-top-menu.page-template-contact-php .wrapper>.main {
    max-width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}

.texto_header {
/*	z-index: 5;
	white-space: nowrap; */
	font-size: 90px;
	color: rgb(255, 255, 255);
	font-family: Bodoniz, serif;
/*visibility: inherit;
	transition: none;
	border-width: 0px;
	margin: 0px;
	padding: 0px; */
	letter-spacing: 2px;
	font-weight: 900;
	/*height:320px;
	vertical-align:middle;*/
	padding-top: 100px;
/*	min-height: 0px;
	min-width: 0px;
	max-height: none;
	max-width: none;
	opacity: 1;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transform-origin: 50% 50% 0px;	*/
}

.texto_header_description.p {
	font-size: 14px !important;
	color: rgb(255, 255, 255) !important;
	font-family: Bodoniz, serif;
}

.texto_header_description {
	font-size: 14px !important;
	color: rgb(255, 255, 255) !important;
	font-family: Bodoniz, serif;
}


/* Large display 1200px and above */
@media screen and (min-width: 1200px) {
	.texto_header {
		font-size: 60px !important;
	}
}

/* Portrait tablets 768px and above */
@media screen and (min-width: 768px) and (max-width: 979px) {
	.texto_header {
		font-size: 40px !important;
	}
}

/* Phones to tablets 767px and below */
@media screen and (max-width: 767px) {
	.texto_header {
		font-size: 30px !important;
	}
}

/* Phones 480px and below */
@media screen and (max-width: 480px) {
	.texto_header {
		font-size: 20px !important;
	}
	footer .divider {
		width: 100% !important;
	}
	footer .footer_main .copyright_text {
		color: #333;
		font-size: 92% !important;
		position: initial !important;
		top: 0px !important;
		float: initial !important;
		margin-top: 0px !important;
		margin-left: 0px !important;
		width: 29% !important;
	}
	.copyfoo {
		width: 51% !important;
		float: none !important;
		clear: both !important;
	}
	.footer-nav{
		float: none !important;
		margin-right: 0px !important;}
		.logofoot{width: 100%;
		margin-top: 0px !important;
		float: none !important;
		margin-left: 0px !important;
    }
	.socialicons {
		float: none;
		margin-top: 0px !important;
		margin-right: 0px !important;
	}
	.iconuni {
		float: left;
		width: 23%;
	}
	.iconuni:hover {
		opacity:0.8;
	}
    amount{font-size: 11px !important;font-weight: normal !important;}.wishlist_table tr td.product-stock-status span.wishlist-in-stock {font-size: 10px !important;}.shop#yith-wcwl-form .shop_table tbody tr td {
    font-size: 8.45px !important;}.shop#yith-wcwl-form .shop_table tbody tr td {text-align: left;font-size: 8.45px !important;text-transform: uppercase;}.woocommerce table.wishlist_table tbody td {padding: 0px !important;}.shop#yith-wcwl-form .shop-table-container {
      margin-left: 12px !important;

    }.woocommerce table.wishlist_table tbody td {
      padding: 4px !important;
    }
    .shop#yith-wcwl-form .shop_table tbody tr td.product-add-to-cart .button {

      padding: 6px 12px !important;
      font-size: 6.45px !important;


    }
}
