@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";
#wpadminbar {
  display: none;
}
html {
  .admin-bar {
    margin-top: -32px;
    .main-menu-top.has-slider {
      margin-top: -45px;
      top: 0!important;
    }
  }
  padding: 7px;
  &:before {
    .box-shadow(inset 0px 0px 0px 7px white);
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20000;
    pointer-events: none;
  }
}

// FOOTER
.copyright_text {
  display: none;
}
li#menu-item-1593 {
  &::after {
    display: none!important;
  }
}
.logofoot {
  @media(max-width:@screen-xs-max) {
    display: none;
  }
}
.alert {
  font-size: 18px;
  font-family: 'bodoniz',serif;
  &.alert-success {
    background-color: #CCCCCC;
    border-color: #8C8C8C;
    color: black;
  }
}
