.font-face(@fontName,@fontSlug,@fontStyle,@fontWeight) {
  font-family: @fontName;
  @urls: %("../../fonts/%s.otf", @fontSlug);
  src: url(@urls);
  font-style: @fontStyle;
  font-weight: @fontWeight;
}

.font-face-ttf(@fontName,@fontSlug,@fontStyle,@fontWeight) {
  font-family: @fontName;
  @urls: %("../../fonts/%s.ttf", @fontSlug);
  src: url(@urls);
  font-style: @fontStyle;
  font-weight: @fontWeight;
}

// BODONI

@font-face {
  .font-face-ttf ('Bodoniz', 'Bodoni_Seventytwo_ITC_Bold', normal, bold);
}
 
@font-face {
  .font-face-ttf ('Bodoniz', 'Bodoni_Seventytwo_ITC_Bold_Italic', italic, bold);
}

@font-face {
  .font-face-ttf ('Bodoniz', 'Bodoni_Seventytwo_ITC_Book', normal, normal);
}

@font-face {
  .font-face-ttf ('Bodoniz', 'Bodoni_Seventytwo_ITC_Book_Italic', italic, normal);
}

@font-face {
  .font-face-ttf ('Bodoniz', 'Bodoni_Seventytwo_ITC_Book', normal, lighter);
}

@font-face {
  .font-face-ttf ('Bodoniz', 'Bodoni_Seventytwo_ITC_Book_Italic', italic, lighter);
}


@font-face {
    font-family: 'gt';
    src: url('../../fonts/gt-walsheim-bold-web.eot');
    src: url('../../fonts/gt-walsheim-bold-web.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gt-walsheim-bold-web.woff') format('woff'),
         url('../../fonts/gt-walsheim-bold-web.ttf') format('truetype'),
         url('../../fonts/gt-walsheim-bold-web.svg#gt_walsheim_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gt';
    src: url('../../fonts/gt-walsheim-bold-oblique-web.eot');
    src: url('../../fonts/gt-walsheim-bold-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gt-walsheim-bold-oblique-web.woff') format('woff'),
         url('../../fonts/gt-walsheim-bold-oblique-web.ttf') format('truetype'),
         url('../../fonts/gt-walsheim-bold-oblique-web.svg#gt_walsheim_bold_oblique') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'gt';
    src: url('../../fonts/gt-walsheim-web.eot');
    src: url('../../fonts/gt-walsheim-web.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gt-walsheim-web.woff') format('woff'),
         url('../../fonts/gt-walsheim-web.ttf') format('truetype'),
         url('../../fonts/gt-walsheim-web.svg#gt_walsheim_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt';
    src: url('../../fonts/gt-walsheim-regular-oblique-web.eot');
    src: url('../../fonts/gt-walsheim-regular-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gt-walsheim-regular-oblique-web.woff') format('woff'),
         url('../../fonts/gt-walsheim-regular-oblique-web.ttf') format('truetype'),
         url('../../fonts/gt-walsheim-regular-oblique-web.svg#gt_walsheim_regular_oblique') format('svg');
    font-weight: normal;
    font-style: italic;
}
