@import "../globals/bootstrap-variables.less";
@import "../globals/variables.less";
@import "../globals/mixins.less";

.shop#yith-wcwl-form .shop_table tbody tr td.product-add-to-cart .button {
 background: #c74c4c !important;
}

.main-menu-top .main {
	background-color:black!important;
}

.cart_content .amount {
	top: -1px;
}

div#texto_dinamico::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; 
    z-index: -1;
    opacity: .4;
}

.texto_header {
    z-index: 7;
    position: relative;
	font-size: 60px;
}

.texto_header_description p {
	color: white;
    letter-spacing: .5px;
    font-size: 15px;
    max-width: 80%;
    line-height: 1.3;
    margin-top: 17px;
}

@media screen and (max-width: 767px) {
	.texto_header {
	    font-size: 30px !important;
	    letter-spacing: 0!important;
	}
}

.shop .items .item-wrapper .item,.shop .items .item-wrapper .item:hover {
	box-shadow:none;
	-webkit-box-shadow:none;
}

.oxygen-top-menu>.wrapper>.main-menu-top>.main .main-menu-env .nav li.current-menu-item>a, .oxygen-top-menu>.wrapper>.main-menu-top>.main .main-menu-env .nav li.current_page_ancestor>a, .oxygen-top-menu>.wrapper>.main-menu-top>.main .main-menu-env .nav ul li.current-menu-parent a {
    color: #C54D4F!important;
}

.page-template-default {
    .arimo, p {
        color: black;
        font-weight: 300;
        font-size: 16px!important;
        letter-spacing: 0px;
        line-height: 25px;
        padding: 0 36px;
    }
}

.vc_box_shadow_border {
    width: 100%;
    border: none;
    .box-shadow(none)!important;
    img {
        width:100%;
    }
}

.footer_main.row {
    padding-bottom: 12px;
}

#contact-map {
    margin-top: -74px!important;
}
.contact-blocks-env{
    margin-top: 90px!important;
}

@media(max-width:@screen-sm-max) {
    .wrapper {
        margin-top:0px!important;
    }
    .top-menu + div {
        display: none!important;
    }

}
/*html {
    @media(max-width:@screen-sm-max) and(min-width:@screen-xs-max){
        margin-top:-19px!important;
    }
    .page-template-slider-home {
        @media(max-width:@screen-sm-max) and(min-width:@screen-xs-max){
            margin-top:32px!important;
        }
    }
}*/
